<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成绩评分标准</title>

    <link rel="stylesheet" type="text/css" href="../css/admin/admin-score-item.css">
    <link rel="stylesheet" type="text/css" href="../css/admin/admin-motaikuang.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
</head>
<body>
<div class="body">
    <div class="function">
        <!-- 添加专业功能 -->
        <input type="button" value="添加">
        <!-- 模态框开始 -->
        <div class="myModal hide">
            <div class="p">
                <form id="form-data">
                    <table>
                        <tr>
                            <td><label>评分项目：</label></td>
                            <td><input type="text" name="itemName"></td>
                        </tr>
                        <tr>
                            <td><label>分数占比：</label></td>
                            <td>
                                <select class="scoreRate" name="scoreRate">
                                    <option value="5">5%</option>
                                    <option value="10">10%</option>
                                    <option value="15">15%</option>
                                    <option value="20">20%</option>
                                    <option value="25">25%</option>
                                    <option value="30">30%</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>说明：</label></td>
                            <td><textarea name="introduce"></textarea></td>
                        </tr>
                    </table>
                </form>
            </div>
            <p class="p"><input type="button" value="添加">&nbsp<input type="button" value="取消"></p>
        </div>
        <div class="shade hide"></div>
        <!-- 模态框结束 -->
    </div>
    <div class="data">
        <table>
            <thead>
            <tr>
                <th width="50px">序号</th>
                <th width="130px">评分项目</th>
                <th width="130px">总分占比</th>
                <th style="padding: 0 6px; min-width: 110px">说明</th>
                <th width="160px"></th>
            </tr>
            </thead>
            <tbody id="dataList">
            <tr>
                <td width="50px">序号</td>
                <td width="130px">评分项目</td>
                <td width="130px">总分占比</td>
                <td width="130px">说明</td>
                <td width="160px">
                    <input type="button" value="启用" class="button-disable" disabled>
                    <input type="button" value="禁用">
                </td>
            </tr>
            <tr>
                <td width="50px">序号</td>
                <td width="130px">评分项目</td>
                <td width="130px">总分占比</td>
                <td width="130px">说明</td>
                <td width="160px">
                    <input type="button" value="启用" class="button-disable" disabled>
                    <input type="button" value="禁用">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- 内容按钮功能 -->
<script type="text/javascript">
    $(document).ready(function () {
        //初始化界面
        listAll();

        //搜索按钮
        $('.search input[value="搜索"]').click(function () {
            var departmentId = $(".search .departmentSelect").val();

            findByDepartmentId(departmentId);
        });

        //添加按钮
        $('input[value="添加"]').click(function () {
            $('.hide').removeClass('hide');
        });
        //取消按钮
        $('.function input[value="取消"]').click(function () {
            $("#form-data input, #form-data textarea").val("");
            $('.myModal,.shade').addClass('hide');
        });

        //模态框内部 添加按钮 添加ajax
        $('.myModal input[value="添加"]').click(function () {
            var forms = $("#form-data")

            add(forms)

            $("#form-data input, #form-data textarea").val("");
            $('.myModal,.shade').addClass('hide');
        });

        //启用按钮
        $(".data").on("click", "#dataList input[value='启用']", function () {
            var tds = $(this).parent().prevAll();
            var id = $(tds[3]).attr("store")

            update(id, 1)
        })

        //禁用按钮
        $(".data").on("click", "input[value='禁用']", function () {
            var tds = $(this).parent().prevAll();
            var id = $(tds[3]).attr("store")

            update(id, 0)
        })
    })

    function add(formData) {
        $.ajax({
           url: '../scoreItem/add',
            type: 'POST',
            data: formData.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    listAll()
                }
            }
        });
    }

    function update(id, status) {
        $.ajax({
           url: '../scoreItem/updateStatus',
            type: 'POST',
            data: {
                id: id,
                status: status
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    listAll()
                }
            }
        });
    }

    function listAll() {
        $.ajax({
           url: '../scoreItem/listAll',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var dataList = $("#dataList");
                dataList.html("");

                for (i = 0; i < data.data.length; i++) {
                    var str = "<tr><td store=\"" + data.data[i].id + "\">" + (i + 1) + "</td>"
                        + "<td>" + data.data[i].itemName + "</td>"
                        + "<td>" + data.data[i].scoreRate + "%</td>"
                        + "<td>" + data.data[i].introduce + "</td>"

                    if (data.data[i].status == 0) {
                        str = str + "<td>" +
                            "<input type=\"button\" value=\"启用\" >" +
                            "<input type=\"button\" value=\"禁用\" class=\"button-disable\" disabled>" +
                            "</td> </tr>"
                    }
                    if (data.data[i].status == 1) {
                        str = str + "<td>" +
                            "<input type=\"button\" value=\"启用\" class=\"button-disable\" disabled>" +
                            "<input type=\"button\" value=\"禁用\">" +
                            "</td> </tr>"
                    }
                    dataList.append(str)
                }
            }
        });
    }
</script>
</body>
</html>