<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教师信息管理</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/student/student-score.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/swiper.min.css}">

    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper.jquery.min.js}"></script>
</head>
<body>
<div class="body">
    <div style="padding-left: 60px;padding-top: 5px; padding-bottom: 5px">
        <a href="/departmentLeader/scoreOfStudent"><input type="button" value="返回"></a>
    </div>
    <div class="studentInfo">
        <h4>基本信息</h4>
        <table>
            <tr>
                <td width="85px">学号：</td>
                <td th:text="${studentInfo.student.no}"></td>
                <td>姓名：</td>
                <td th:text="${studentInfo.student.name}"></td>
            </tr>
            <tr>
                <td>系别：</td>
                <td th:text="${studentInfo.student.departmentModel.department}"></td>
                <td>专业：</td>
                <td th:text="${studentInfo.student.majorModel.major}"></td>
            </tr>
            <tr>
                <td>课题标题：</td>
                <td th:text="${studentInfo.projectionModel.title}"></td>
                <td>指导教师：</td>
                <td th:text="${studentInfo.student.teacherModel.name}"></td>
            </tr>
        </table>
    </div>
    <div class="infos">
        <table>
            <tr>
                <td style="font-weight: bold">序号</td>
                <td style="display: none"></td>
                <td style="font-weight: bold">评分项</td>
                <td style="font-weight: bold">分数占比</td>
                <td style="font-weight: bold">该项评分</td>
                <td style="font-weight: bold">实际得分</td>

            </tr>
        </table>
        <div class="OrdinaryInfo" th:if="${studentInfo.scoreRecordListOfOrdinary != null}">
            <table>
                <b style="left: -45px; position: relative">指导教师评分：</b>
                <hr width="80%" style="margin: 5px 0px">
                <tr th:each="score,scoreStatus: ${studentInfo.scoreRecordListOfOrdinary}">
                    <td th:text="${scoreStatus.count}"></td>
                    <td style="display: none" th:text="${score.id}" class="ids"></td>
                    <td th:text="${score.scoreItemModel.itemName}"></td>
                    <td th:text="${score.scoreItemModel.scoreRate}"></td>
                    <td th:text="${score.scoreNum}"></td>
                    <td th:text="${score.realScore }"></td>

                </tr>
            </table>
        </div>

        <div class="ReviewInfo" th:if="${studentInfo.scoreRecordListOfReview != null}">
            <table>
                <b style="left: -45px; position: relative">评阅教师评分：</b>
                <hr width="80%" style="margin: 5px 0px">
                <tr th:each="score,scoreStatus: ${studentInfo.scoreRecordListOfReview}">
                    <td th:text="${scoreStatus.count}"></td>
                    <td style="display: none" th:text="${score.id}" class="ids"></td>
                    <td th:text="${score.scoreItemModel.itemName}"></td>
                    <td th:text="${score.scoreItemModel.scoreRate}"></td>
                    <td th:text="${score.scoreNum}"></td>
                    <td th:text="${score.realScore }"></td>

                </tr>
            </table>
        </div>

        <div class="ResponseInfo" th:if="${studentInfo.scoreRecordListOfResponse != null}">
            <table>
                <b style="left: -45px; position: relative">答辩教师评分：</b>
                <hr width="80%" style="margin: 5px 0px">
                <tr th:each="score,scoreStatus: ${studentInfo.scoreRecordListOfResponse }">
                    <td th:text="${scoreStatus.count}"></td>
                    <td style="display: none" th:text="${score.id}" class="ids"></td>
                    <td th:text="${score.scoreItemModel.itemName}"></td>
                    <td th:text="${score.scoreItemModel.scoreRate}"></td>
                    <td th:text="${score.scoreNum}"></td>
                    <td th:text="${score.realScore }"></td>
                </tr>
            </table>
        </div>

        <div class="totalInfo" style="border-top: #080808 solid 2px">
            <h4>总成绩</h4>
            <table>
                <tr>
                    <td>总分：</td>
                    <td th:text="${studentInfo.totalScoreModel.scoreNum}"></td>
                    <td>评定等级：</td>
                    <td th:text="${studentInfo.totalScoreModel.level}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>