<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>系负责人--权限管理</title>

    <link rel="stylesheet" type="text/css" href="../css/admin/admin-power-teacher.css">
    <link rel="stylesheet" type="text/css" href="../css/admin/admin-motaikuang.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
</head>
<body>
<div class="body">
    <div class="function">
        <!-- 添加权限功能 -->
        <input type="button" value="添加"><span>&nbsp;&nbsp;&nbsp;</span>
        <input type="button" name="" value="用户角色信息" th:attr="store=${session.userInfo.departmentId}">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="button" name="" value="教务员信息" th:attr="store=${session.userInfo.departmentId}"><span>&nbsp;&nbsp;&nbsp;</span>
        <input type="button" value="添加教务员">
        <!-- 模态框开始 -->
        <div class="tops myModal hide">

            <h4 style="text-align: center;">用户信息</h4>
            <form id="form-data">
                <p class="p" style="display: none"><label>id：</label><input type="text" name="id"></p>
                <p class="p">
                    <label>教师：</label>
                    <select class="teacher teacherSelect" name="no">

                    </select>
                </p>
            </form>
            <p class="p"><input type="button" value="添加">&nbsp<input type="button" value="取消"></p>
        </div>
        <div class="tops shade hide"></div>
        <!-- 模态框结束 -->

        <!-- 教务员模态框 模态框开始 -->
        <div class="bottoms myModal hide">

            <h4 style="text-align: center;">用户信息</h4>
            <form id="form-data-bottoms">
                <p class="p" style="display: none"><label>id：</label><input type="text" name="id"></p>
                <p class="p"><label>工号：</label><input type="text" name="no"></p>
                <p class="p"><label>姓名：</label><input type="text" name="name"></p>
                <p class="p"><label>联系方式：</label><input type="text" name="phone"></p>
            </form>
            <p class="p"><input type="button" value="确认">&nbsp<input type="button" value="取消"></p>
        </div>
        <div class="bottoms shade hide"></div>
        <!-- 模态框结束 -->
    </div>
    <div class="data">
        <table>
            <thead id="dataListHead">

            </thead>
            <tbody id="dataList">

            </tbody>
        </table>
    </div>
</div>

<!-- 内容按钮功能 -->
<script type="text/javascript">
    $(document).ready(function () {
        //信息初始化
        initPageOfTeacher()

        //刷新按钮
        $('input[value="用户角色信息"]').click(function () {
            findByDepartmentId($(this).attr("store"));
        });

        /**  权限相关  **/
        //添加按钮
        $('input[value="添加"]').click(function () {
            $('.tops').removeClass('hide');
        });
        //取消按钮
        $('.tops input[value="取消"]').click(function () {
            $("#form-data input").val("");
            $('.tops').addClass('hide');
        });

        //模态框内部 添加按钮 添加ajax
        $('.tops input[value="添加"]').click(function () {
            var forms = $("#form-data")

            add(forms)

            $("#form-data input").val("");
            $('.tops').addClass('hide');
        });
        /**  权限相关 end **/

        /**  教务员相关  **/
        $('input[value="教务员信息"]').click(function () {
            findSupportsByDepartmentId($(this).attr("store"));
        });

        //添加按钮
        $('input[value="添加教务员"]').click(function () {
            $('.bottoms').removeClass('hide');
        });
        //取消按钮
        $('.bottoms input[value="取消"]').click(function () {
            $("#form-data-bottoms input").val("");
            $('.bottoms').addClass('hide');
        });
        //添加按钮 添加ajax
        $('.bottoms input[value="确认"]').click(function () {

            var formData = new FormData($("#form-data-bottoms")[0]);

            if (formData.get("no") == null || formData.get("no") == "") {
                alert("请填写完整信息")
                return;
            }
            if (formData.get("name") == null || formData.get("name") == "") {
                alert("请填写完整信息")
                return;
            }
            if (formData.get("phone") == null || formData.get("phone") == "") {
                alert("请填写完整信息")
                return;
            }

            if ($('#form-data-bottoms input[name=id]').val() == null || $('#form-data-bottoms input[name=id]').val() == ""){
                formData.delete("id")
                addSupports(formData)

            }else {
                updateSupports(formData)
            }

            $("#form-data-bottoms input").val("");
            $('.bottoms').addClass('hide');
        });
        /**  教务员相关 end **/


        //确定按钮
        $(".data").on("click", "#dataList input[value='确定']", function () {
            var tds = $(this).parent().parent().find("td");
            var id = $(tds[0]).attr("store")

            var reviewTeacher
            var responseTeamLeader

            var checkBoxs = $(this).parent().parent().find("input[type=checkbox]")

            if ($(checkBoxs[0]).attr('checked')) {
                reviewTeacher = true
            } else {
                reviewTeacher = false;
            }
            if ($(checkBoxs[1]).attr('checked')) {
                responseTeamLeader = true
            } else {
                responseTeamLeader = false;
            }

            update(id, reviewTeacher,responseTeamLeader)
        })

        //删除按钮
        $(".data").on("click", "input[value='删除']", function () {
            var tds = $(this).parent().parent().find("td");

            var id = $(tds[0]).attr("store")

            deleteById(id);
        })

        //注销账号按钮
        $(".data").on("click", "input[value='注销账号']", function () {
            var tds = $(this).parent().parent().find("td");

            var id = $(tds[0]).attr("store")

            deleteSupportById(id);
        })

        //checkbox
        $(".data").on("click", "input[type='checkbox']", function () {
            if ($(this).attr('checked')) {
                $(this).removeAttr("checked")
            } else {
                $(this).attr("checked", "true")
            }

        })


        //编辑按钮
        $(".data").on("click", "input[value='编辑']", function () {
            var tds = $(this).parent().parent().find("td");
            var id = $(tds[0]).attr("store")

            findSupportsById(id);
        })

    })

    function add(formData) {
        $.ajax({
           url: '../departmentLeader:power/add',
            type: 'POST',
            data: formData.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    findByDepartmentId(data.data.departmentId)
                }
            }
        });
    }

    function addSupports(formData) {
        $.ajax({
           url: '../departmentLeader:user/addSupports',
            type: 'POST',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData:false,
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    findSupportsByDepartmentId(data.data.departmentId)
                }
            }
        });
    }

    function update(id, reviewTeacher,responseTeamLeader) {
        $.ajax({
           url: '../departmentLeader:power/update',
            type: 'POST',
            data: {
                id: id,
                reviewTeacher: reviewTeacher,
                responseTeamLeader: responseTeamLeader
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    findByDepartmentId(data.data.departmentId)
                }
            }
        });
    }

    function updateSupports(formData) {
        $.ajax({
            url: '../departmentLeader:user/updateSupports',
            type: 'POST',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData:false,
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    findSupportsByDepartmentId(data.data.departmentId)
                }
            }
        });
    }

    function deleteById(id) {
        $.ajax({
           url: '../departmentLeader:power/deleteById',
            type: 'DELETE',
            async: false,
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                findByDepartmentId(data.data.departmentId)
            }
        });
    }

    function deleteSupportById(id) {
        $.ajax({
            url: '../departmentLeader:user/deleteSupportById',
            type: 'DELETE',
            async: false,
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                findSupportsByDepartmentId(data.data.departmentId)
            }
        });
    }

    function findByDepartmentId(departmentId) {
        $.ajax({
           url: '../departmentLeader:power/findByDepartmentId',
            type: 'GET',
            data: {
                departmentId: departmentId
            },
            dataType: 'json',
            success: function (data) {
               var dataListHead = $("#dataListHead");
               dataListHead.html("<tr>\n" +
                   "                <th width=\"50px\">序号</th>\n" +
                   "                <th width=\"130px\">学工号</th>\n" +
                   "                <th width=\"130px\">姓名</th>\n" +
                   "                <th width=\"80px\">评阅教师</th>\n" +
                   "                <th width=\"80px\">答辩组组长</th>\n" +
                   "                <th width=\"160px\"></th>\n" +
                   "            </tr>")

               var dataList = $("#dataList");
                dataList.html("");

                for (i = 0; i < data.data.length; i++) {
                    var str = "<tr><td store=\"" + data.data[i].id + "\">" + (i + 1) + "</td><td>" + data.data[i].userModel.no + "</td>"
                        + "<td>" + data.data[i].userModel.name + "</td>";

                        if (data.data[i].reviewTeacher) {
                            str = str + "<td><input type=\"checkbox\" name=\"reviewTeacher\" checked='true'></td>"
                        } else {
                            str = str + "<td><input type=\"checkbox\" name=\"reviewTeacher\"></td>"
                        }
                        if (data.data[i].responseTeamLeader) {
                            str = str + "<td><input type=\"checkbox\" name=\"responseTeamLeader\" checked='true'></td>"
                        } else {
                            str = str + "<td><input type=\"checkbox\" name=\"responseTeamLeader\"></td>"
                        }

                    str = str + "<td><input type=\"button\" value=\"确定\"><input type=\"button\" value=\"删除\"></td></tr>"
                    dataList.append(str)
                }
            }
        });
    }

    function findSupportsByDepartmentId(departmentId) {
        $.ajax({
            url: '../departmentLeader:user/findSupportsByDepartmentId',
            type: 'GET',
            data: {
                departmentId: departmentId
            },
            dataType: 'json',
            success: function (data) {
                var dataListHead = $("#dataListHead");
                dataListHead.html("<tr>\n" +
                    "                <th width=\"50px\">序号</th>\n" +
                    "                <th width=\"130px\">工号</th>\n" +
                    "                <th width=\"130px\">姓名</th>\n" +
                    "                <th width=\"130px\">联系方式</th>\n" +
                    "                <th width=\"160px\"></th>\n" +
                    "            </tr>")

                var dataList = $("#dataList");
                dataList.html("");

                for (i = 0; i < data.data.length; i++) {
                    var str = "<tr><td store=\"" + data.data[i].id + "\">" + (i + 1) + "</td><td>" + data.data[i].no + "</td>"
                        + "<td>" + data.data[i].name + "</td>"
                        + "<td>" + data.data[i].phone + "</td>";

                    str = str + "<td><input type=\"button\" value=\"编辑\"><input type=\"button\" value=\"注销账号\"></td></tr>"
                    dataList.append(str)
                }
            }
        });
    }

    function findSupportsById(id) {
        $.ajax({
            url: '../departmentLeader:user/findSupportsById',
            type: 'GET',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    $('.bottoms').removeClass('hide');
                    $('#form-data-bottoms input[name=id]').val(data.data.id)
                    $('#form-data-bottoms input[name=no]').val(data.data.no)
                    $('#form-data-bottoms input[name=name]').val(data.data.name)
                    $('#form-data-bottoms input[name=phone]').val(data.data.phone)
                }
            }
        });
    }

    function initPageOfTeacher() {
        var departmentId = $('input[value="权限信息"]').attr("store");

        $.ajax({
            url: '../departmentLeader:teacher/findTeacher',
            type: 'GET',
            data: {
                departmentId: departmentId
            },
            dataType: 'json',
            success: function (data) {
                var dataList = $(".teacherSelect");
                dataList.html("");

                var head = "<option value = \"";
                var second = "\">";
                var end = "</option>";
                for (i = 0; i < data.data.length; i++) {
                    var str = head + data.data[i].no + second + data.data[i].name + end;
                    dataList.append(str)
                }
            }
        });
    }
</script>
</body>
</html>