<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>系负责人--课题查看</title>

    <link rel="stylesheet" type="text/css" href="../css/admin/admin-motaikuang.css">
    <link rel="stylesheet" type="text/css" href="../css/personInfo.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
</head>
<body>
<div class="body">
    <div class="search">
        <form id="data-form" style="float: left; margin-left: 50px">
            <label>提交教师：</label>
            <select name="teacherId" class="teacherSelect">

            </select>
            <label>&nbsp;课题标题</label><input type="text" name="title">
        </form>
        <span>&nbsp;&nbsp;</span> <input type="button" value="搜索"><span>&nbsp;&nbsp;</span><input type="button" value="记录导出">
    </div>
</div>

<div class="data">
    <table>
        <thead>
        <tr>
            <th style="min-width:50px " store="">序号</th>
            <th style="min-width:80px ">提交教师</th>
            <th style="min-width:130px ">专业要求</th>
            <th style="min-width:80px ">课题标题</th>
            <th style="min-width:100px "></th>
        </tr>
        </thead>
        <tbody id="dataList">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><a href=""><input type="button" value="详情"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>


<!-- jq代码 -->
<script>
    $(document).ready(function () {
        //初始化界面
        initPage()

        //搜索按钮
        $('input[value="搜索"]').click(function () {
            var teacherId = $("select[name=teacherId]").val()
            var title = $("input[name=title]").val()
            findProjection(teacherId, title)
        })

        $(".data").on("click", "input[value='查看']", function () {
            var tds = $(this).parent().prevAll();
            //界面处理
            findById(tds.eq(5).text())
        })


    });

    function initPage() {
        findProjection();
        initTeacher()
    }

    function findProjection(teacherId, title) {
        $.ajax({
            url: '../projection/list',
            type: 'GET',
            data: {
                teacherId: teacherId,
                title: title,
                auditStatus:1
            },
            dataType: 'json',
            success: function (data) {
                var dataList = $("#dataList");
                dataList.html("");

                for (i = 0; i < data.data.length; i++) {
                    var str = "<tr><td>" + (i + 1) + "</td>" +
                        "<td>" + data.data[i].teacherModel.name + "</td>" +
                        "<td>" + data.data[i].majorModel.major + "</td>" +
                        "<td>" + data.data[i].teacherModel.name + "</td>" +
                        "<td>" + data.data[i].title + "</td>" +
                        "<td><a href=\"../projection/"+data.data[i].id+"\"><input type=\"button\" value=\"详情\"></a></td></tr>";

                    dataList.append(str)
                }
            }
        });
    }

    function initTeacher() {
        $.ajax({
            url: '../teacher/listTeacherToLeader',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var dataList = $(".teacherSelect");
                dataList.html("");

                var head = "<option value = \"";
                var second = "\">";
                var end = "</option>";
                for (i = 0; i < data.data.length; i++) {
                    var str = head + data.data[i].id + second + data.data[i].name + end;
                    dataList.append(str)
                }
            }
        });

    }

    function findById(id) {
        $.ajax({
            url: '../projectAuditor/findById',
            type: 'GET',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    $('.tops input[name="title"]').val(data.data.title)
                    $('.tops textarea[name= "introduce"]').val(data.data.introduce);
                    $('.tops textarea[name="require"]').val(data.data.demand);
                    $('.tops').removeClass('hide');
                }
            }
        });
    }


    function findByAuditStatus(auditStatus) {
        $.ajax({
            url: '../projectAuditor/findByAuditStatus',
            type: 'GET',
            data: {
                auditStatus: auditStatus
            },
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    var dataList = $("#dataList");
                    dataList.html("");

                    for (i = 0; i < data.data.length; i++) {
                        var str = "<tr><td>" + (i + 1)
                            + "</td> <td style=\"display: none\" >" + data.data[i].id + "</td> "
                            + "<td>" + data.data[i].title + "</td>";

                        if (data.data[i].introduce.length > 10) {
                            str = str + "<td>" + data.data[i].introduce.substr(0, 10) + "....</td>"
                        } else {
                            str = str + "<td>" + data.data[i].introduce + "</td>"
                        }

                        if (data.data[i].demand.length > 10) {
                            str = str + "<td>" + data.data[i].demand.substr(0, 10) + "....</td>"
                        } else {
                            str = str + "<td>" + data.data[i].demand + "</td>"
                        }

                        str = str + "<td>" + data.data[i].teacherModel.name + "</td>"

                        if (data.data[i].auditStatus == 0) {
                            str = str + "<td>未审核</td> "
                                + "<td><input type=\"button\" value=\"查看\"><input type=\"button\" value=\"审批\"></td>\n"
                        } else if (data.data[i].auditStatus == 1) {
                            str = str + "<td style='color: darkorange'>已通过</td><td ><input type=\"button\" value=\"查看\"></td>"
                        } else if (data.data[i].auditStatus == 2) {
                            str = str + "<td style='color: red'>已通过</td><td ><input type=\"button\" value=\"查看\"></td>"
                        }
                        dataList.append(str)
                    }
                }
            }
        });
    }
</script>

<script th:if="${flag}">
    $(document).ready(function () {
        $("body").html("")
        $("body").html("<h3 style='margin-left: 30px; margin-top: 20px'>权限不足！</h3>")
    })
</script>
</body>
</html>