<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>系负责人--课题查看</title>

    <link rel="stylesheet" type="text/css" href="../css/admin/admin-motaikuang.css">
    <link rel="stylesheet" type="text/css" href="../css/personInfo.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
</head>
<body>
<div class="body">
    <div class="search">
        <label>&nbsp;&nbsp;&nbsp;课题状态：</label>
        <input type="button" value="审核中">
        <input type="button" value="已通过">
        <input type="button" value="未通过">
    </div>
</div>
<!-- 查阅模态框开始 -->
<div class="tops myModal hide">
    <p class="p" style="display: none">id：<input type="text" name="id"></p>
    <p class="p">
        <label style="width: 50px">标题：</label>
        <input type="text" name="title" disabled>
    </p>
    <p class="p">
        <label style="width: 50px">内容描述：</label>
        <textarea name="introduce" disabled></textarea>
    </p>
    <p class="p">
        <label style="width: 50px">要求：</label>
        <textarea name="require" disabled></textarea>
    </p>
    <p class="p"><input type="button" value="返回"></p>
</div>
<div class="tops shade hide"></div>
<!-- 查阅模态框结束 -->

<!-- 批阅模态框开始 -->
<div class="bottoms myModal hide">
    <p style="display: none">
        <input type="text" name="id" class="hide">
    </p>
    <p class="p">
    <table style="margin-left: 20px">
        <tr>
            <td>
                <label>状态：</label>
            </td>
            <td>
                <select name="auditStatus">
                    <option value="1">通过</option>
                    <option value="2">待修改</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>审阅意见：</label>
            </td>
            <td>
                <textarea name="auditRemark"></textarea>
            </td>
        </tr>
    </table>
    </p>
    <p class="p"><input type="button" value="取消"><input type="button" value="提交"></p>
</div>
<div class="bottoms shade hide"></div>
<!-- 批阅模态框结束 -->

<div class="data">
    <table>
        <thead>
        <tr>
            <th style="min-width:50px " store="">序号</th>
            <th style="min-width:130px ">标题</th>
            <th style="min-width:130px ">内容描述</th>
            <th style="min-width:130px ">要求</th>
            <th style="min-width:80px ">提交人</th>
            <th style="min-width:130px ">审核状态</th>
            <th style="min-width:100px "></th>
        </tr>
        </thead>
        <tbody id="dataList">
        <tr th:each="projection,projectionStatus: ${projections}">

            <td th:text="${projectionStatus.count}"></td>

            <td style="display: none" th:text="${projection.id}"></td>

            <td th:text="${projection.title}"></td>
            <td th:text="${#strings.abbreviate(projection.introduce,10)}"></td>
            <td th:text="${#strings.abbreviate(projection.demand,10)}"></td>
            <td th:text="${projection.teacherModel.name}"></td>
            <td th:if="${projection.auditStatus == 0}">未审核</td>
            <td th:if="${projection.auditStatus == 1}" style='color: darkorange'>已通过</td>
            <td th:if="${projection.auditStatus == 2}" style='color: red'>未通过</td>

            <td th:if="${projection.auditStatus == 0}"><input type="button" value="查看"><input type="button" value="审批"></td>
            <td th:if="${projection.auditStatus > 0}"><input type="button" value="查看"></td>
        </tr>
        </tbody>
    </table>
</div>
</div>


<!-- jq代码 -->
<script>
    $(document).ready(function () {

        //课题信息查询
        $('input[value="审核中"]').click(function () {
            findByAuditStatus(0)
        })

        $('input[value="已通过"]').click(function () {
            findByAuditStatus(1)
        })

        $('input[value="未通过"]').click(function () {
            findByAuditStatus(2)
        })

        //查看按钮
        $(".data").on("click", "input[value='查看']", function () {
            var tds = $(this).parent().prevAll();
            //界面处理
            findById(tds.eq(5).text())
        })

        //查阅模态框按钮
        $('input[value="返回"]').click(function () {
            $('.tops').addClass('hide');
        })

        //批审按钮
        $(".data").on("click", "input[value='审批']", function () {
            var tds = $(this).parent().prevAll();
            $('.bottoms input[name="id"]').val(tds.eq(5).text())
            $('.bottoms').removeClass('hide');
        })

        //查阅模态框按钮
        $('input[value="取消"]').click(function () {
            $('.bottoms').addClass('hide');
        })
        $('input[value="提交"]').click(function () {
            $('.bottoms').addClass('hide');

            var id = $('.bottoms input[name="id"]').val();
            var auditStatus = $('.bottoms select[name="auditStatus"]').val();
            var auditRemark = $('.bottoms textarea[name="auditRemark"]').val();

            update(id, auditStatus, auditRemark);

            $('.bottoms input[name="id"]').val("");
            $('.bottoms select[name="auditStatus"]').val();
            $('.bottoms textarea[name="auditRemark"]').val("");
        })

    });

    function findById(id) {
        $.ajax({
           url: '../projectAuditor/findById',
            type: 'GET',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    $('.tops input[name="title"]').val(data.data.title)
                    $('.tops textarea[name= "introduce"]').val(data.data.introduce);
                    $('.tops textarea[name="require"]').val(data.data.demand);
                    $('.tops').removeClass('hide');
                }
            }
        });
    }

    function update(id, auditStatus, auditRemark) {
        $.ajax({
           url: '../projectAuditor/update',
            type: 'POST',
            data: {
                id: id,
                auditStatus: auditStatus,
                auditRemark: auditRemark
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    listToAudit()
                }
            }
        });
    }

    function listToAudit() {
        $.ajax({
           url: '../projectAuditor/listToAudit',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    var dataList = $("#dataList");
                    dataList.html("");

                    for (i = 0; i < data.data.length; i++) {
                        var str = "<tr><td>" + (i + 1)
                            + "</td> <td style=\"display: none\" >" + data.data[i].id + "</td> "
                            + "<td>" + data.data[i].title + "</td>";
                        if (data.data[i].introduce.length > 10) {
                            str = str + "<td>" + data.data[i].introduce.substr(0, 10) + "....</td>"
                        } else {
                            str = str + "<td>" + data.data[i].introduce + "</td>"
                        }
                        if (data.data[i].demand.length > 10) {
                            str = str + "<td>" + data.data[i].demand.substr(0, 10) + "....</td>"
                        } else {
                            str = str + "<td>" + data.data[i].demand + "</td>"
                        }

                        str = str + "<td>" + data.data[i].teacherModel.name + "</td>"

                        if (data.data[i].auditStatus  == 0) {
                            str = str + "<td>未审核</td> "
                                +"<td><input type=\"button\" value=\"查看\"><input type=\"button\" value=\"审批\"></td>\n"
                        } else  if (data.data[i].auditStatus  == 1) {
                            str = str + "<td style='color: darkorange'>已通过</td><td ><input type=\"button\" value=\"查看\"></td>"
                        } else  if (data.data[i].auditStatus  == 2) {
                            str = str + "<td style='color: red'>已通过</td><td ><input type=\"button\" value=\"查看\"></td>"
                        }

                        dataList.append(str)
                    }
                }
            }
        })
    }


    function findByAuditStatus(auditStatus) {
        $.ajax({
           url: '../projectAuditor/findByAuditStatus',
            type: 'GET',
            data: {
                auditStatus: auditStatus
            },
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    var dataList = $("#dataList");
                    dataList.html("");

                    for (i = 0; i < data.data.length; i++) {
                        var str = "<tr><td>" + (i + 1)
                            + "</td> <td style=\"display: none\" >" + data.data[i].id + "</td> "
                            + "<td>" + data.data[i].title + "</td>";

                        if (data.data[i].introduce.length > 10) {
                            str = str + "<td>" + data.data[i].introduce.substr(0, 10) + "....</td>"
                        } else {
                            str = str + "<td>" + data.data[i].introduce + "</td>"
                        }

                        if (data.data[i].demand.length > 10) {
                            str = str + "<td>" + data.data[i].demand.substr(0, 10) + "....</td>"
                        } else {
                            str = str + "<td>" + data.data[i].demand + "</td>"
                        }

                        str = str + "<td>" + data.data[i].teacherModel.name + "</td>"

                        if (data.data[i].auditStatus  == 0) {
                            str = str + "<td>未审核</td> "
                                +"<td><input type=\"button\" value=\"查看\"><input type=\"button\" value=\"审批\"></td>\n"
                        } else  if (data.data[i].auditStatus  == 1) {
                            str = str + "<td style='color: darkorange'>已通过</td><td ><input type=\"button\" value=\"查看\"></td>"
                        } else  if (data.data[i].auditStatus  == 2) {
                            str = str + "<td style='color: red'>已通过</td><td ><input type=\"button\" value=\"查看\"></td>"
                        }
                        dataList.append(str)
                    }
                }
            }
        });
    }
</script>

<script th:if="${flag}">
    $(document).ready(function () {
        $("body").html("")
        $("body").html("<h3 style='margin-left: 30px; margin-top: 20px'>权限不足！</h3>")
    })
</script>
</body>
</html>