<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生信息管理</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/helper/helper-info-student.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/swiper.min.css}" >

    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper.jquery.min.js}"></script>
</head>
<body>
<div class="body">
    <div class="function">
        <input type="button" value="特殊选题" data-toggle="modal" data-target="#myModal">

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            特殊选题
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-div">
                            <form id="form-data">
                                <table>
                                    <tr>
                                        <td><label>学号：</label>
                                        </td>
                                        <td>
                                            <input type="text" name="studentNo">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label>指导老师：</label>
                                        </td>
                                        <td>
                                            <select class="teacherSelect" name="teacherId">
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label>课题：</label>
                                        </td>
                                        <td>
                                            <select class="projectionSelect" name="projectionId">
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary submitBtn">
                            提交
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
    <div class="search">
        <form id="data-search" class="data-search" style="float: left">
            <label>指导教师：</label>
            <select class="teacherSelect" name="teacherId">

            </select>
            <label>专业：</label>
            <select class="majorSelect" name="majorId">

            </select>
            <input type="text" name="no" placeholder="学号">
            <input type="text" name="name" placeholder="姓名">
        </form>
        <input type="submit" name="" value="搜索">

    </div>
    <div class="data">
        <table>
            <thead>
            <tr>
                <th width="50px">编号</th>
                <th width="120px">学号</th>
                <th width="130px">姓名</th>
                <th width="130px">系别</th>
                <th style="min-width:120px">专业</th>
                <th width="65px">是否选题</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="dataList">

            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        /****初始化下拉列表***/
        initPage();

        $(".teacherSelect").change(function () {
            var teacherId = $(this).children('option:selected').val()
            initProjection(teacherId)
        })

        $(".closeBtn").click(function () {
            $("#form-data input").val("")
            $("#form-data input[name=studentNo]").removeAttr("disabled")
        })


        $(".submitBtn").click(function () {
            var formData = new FormData($("#form-data")[0]);
            formData.delete("studentNo")
            formData.append("studentNo", $("#form-data input[name=studentNo]").val())
            if (formData.get("studentNo") == null || formData.get("studentNo") == "") {
                alert("请填写完整信息")
                return;
            }
            if (formData.get("projectionId") == null || formData.get("projectionId") == "") {
                alert("请填写完整信息")
                return;
            }
            if (formData.get("teacherId") == null || formData.get("teacherId") == "") {
                alert("请填写完整信息")
                return;
            }
            updateStudentSelectProjection(formData)
        })

        $(".search input[value=搜索]").click(function () {
            var teacherId = $(".search select[name=teacherId]").val();
            var majorId = $(".search select[name=majorId]").val();
            var no = $(".search input[name=no]").val();
            var name = $(".search input[name=name]").val();
            findRecordList(teacherId, majorId, no, name)
        })

        //密码重置按钮
        $(".data").on("click", "input[value='密码重置']", function () {
            var id = $(this).attr("attr")
            resetStudent(id)
        })

        //选题修改按钮
        $(".data").on("click", "input[value='选题修改']", function () {
            var id = $(this).attr("attr")
            findById(id)
        })

    })

    /************** 界面初始化  ********************/
    function initPage() {
        initTeacher()
        initMajor()
        findRecordList()
    }

    function initTeacher() {
        $.ajax({
            url: '../helper/teacher/listTeacher',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var dataList = $(".teacherSelect");
                dataList.html("");

                var head = "<option value = \"";
                var second = "\">";
                var end = "</option>";
                $(dataList[1]).append("<option value=''>-指导教师选择-</option>")
                for (i = 0; i < data.data.length; i++) {
                    var str = head + data.data[i].id + second + data.data[i].name + end;
                    dataList.append(str)
                }
                initProjection(data.data[0].id)
            }
        });
    }

    function initProjection(teacherId) {
        $.ajax({
            url: '../helper/projection/findList',
            type: 'GET',
            data: {
                teacherId: teacherId,
                auditStatus: 1
            },
            dataType: 'json',
            success: function (data) {
                var dataList = $(".projectionSelect");
                dataList.html("");

                var head = "<option value = \"";
                var second = "\">";
                var end = "</option>";
                for (i = 0; i < data.data.length; i++) {
                    var str = head + data.data[i].id + second + data.data[i].title + end;
                    dataList.append(str)
                }
            }
        });
    }

    function initMajor() {
        $.ajax({
            url: '../helper/major/listMajorWithLoginUser',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var dataList = $(".majorSelect");
                dataList.html("");

                var head = "<option value = \"";
                var second = "\">";
                var end = "</option>";
                dataList.append(head + second + "-专业-" + end);
                for (i = 0; i < data.data.length; i++) {
                    var str = head + data.data[i].id + second + data.data[i].major + end;
                    dataList.append(str)
                }
            }
        });
    }

    /*****************  功能区 ****************************/
    function updateStudentSelectProjection(formData) {
        $.ajax({
            url: '../helper/selectRecord/updateRecord',
            type: 'POST',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    findRecordList()
                }
                return;
            }
        });
    }

    function resetStudent(id) {
        $.ajax({
            url: '../helper/student/reset',
            type: 'POST',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else if (data.code == 0) {
                    alert(data.msg)
                }
            }
        });
    }

    function findRecordList(teacherId, majorId, studentNo, name) {
        $.ajax({
            url: '../helper/student/listToHelper',
            type: 'GET',
            data: {
                teacherId: teacherId,
                majorId: majorId,
                no: studentNo,
                name: name
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    var dataList = $("#dataList");
                    dataList.html("");

                    for (i = 0; i < data.data.length; i++) {
                        var str = "<tr><td>" + (i + 1) + "</td> "
                            + "<td>" + data.data[i].no + "</td> "
                            + "<td>" + data.data[i].name + "</td>"
                            + "<td>" + data.data[i].departmentModel.department + "</td>"
                            + "<td>" + data.data[i].majorModel.major + "</td>";

                        if (data.data[i].projectionSelectModel == null) {
                            str = str + "<td style='color: red;'>未选题 </td> "
                        } else if (data.data[i].projectionSelectModel != null) {
                            str = str + "<td> 已选 </td> "
                        }

                        str = str + "<td><a href=\"../helper/student/" + data.data[i].id + "\"><input type=\"button\" name=\"\" value=\"选题详情\"></a> "
                        str = str + "<input type=\"button\" value=\"选题修改\" attr=\" " + data.data[i].id + "\" data-toggle=\"modal\" data-target=\"#myModal\">"
                        str = str + "<input type=\"button\" name=\"\" value=\"密码重置\" attr=\"" + data.data[i].id + "\"></td></tr>"
                        dataList.append(str)
                    }
                }
            }
        });
    }

    function findById(id) {
        $.ajax({
            url: '../helper/student/findById',
            type: 'GET',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    $("#form-data input[name=studentNo]").val(data.data.no)
                    $("#form-data input[name=studentNo]").attr("disabled", "true")
                    if (data.data.teacherModel != null) {
                        $("#form-data select[name=teacherId]").val(data.data.teacherModel.id)
                        initProjection(data.data.teacherModel.id)
                    } else {
                        $("#form-data select[name=teacherId]").val(0)
                    }

                    if (data.data.projection != null) {
                        $("#form-data select[name=projectionId]").val(data.data.projection.id)
                    } else {
                        $("#form-data select[name=projectionId]").val(0)
                    }
                }
            }
        });
    }
</script>
</body>
</html>