<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>教师信息管理</title>

    <link rel="stylesheet" type="text/css" href="../../../css/admin-info-teacher.css">
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../css/swiper.min.css">

    <script type="text/javascript" src="../../../js/jquery.js"></script>
    <script type="text/javascript" src="../../../js/bootstrap.js"></script>
    <script type="text/javascript" src="../../../js/swiper.jquery.min.js"></script>
</head>
<body>
	<div class="body">
		</div>
		<div class="search">
			<form>
				<label>系别：</label>
				<select>
					<option>123</option>
					<option>123</option>
					<option>123</option>
					<option>123</option>
				</select>
				<input type="text" name="" placeholder="工号">
				<input type="text" name="" placeholder="姓名">
				<input type="submit" name="" value="search">
			</form>	
		</div>
		<div class="data">
			<table>
				<thead>
					<tr>
						<th width="50px">编号</th>
						<th width="130px">工号</th>
						<th width="130px">姓名</th>
						<th width="130px">指导学生名额</th>
						<th width="150px"></th>
						<th width="150px"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td><input type="text" name="" style="width: 60px"></td>
						<td><input type="button" name="" value="确定修改"></td>
						<td><input type="button" name="" value="查看详情"></td>
					</tr>
					<tr>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td><input type="text" name="" style="width: 60px"></td>
						<td><input type="button" name="" value="确定修改"></td>
						<td><input type="button" name="" value="查看详情"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>	
	</div>
</body>
</html>