<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>学生信息管理</title>

    <link rel="stylesheet" type="text/css" href="/css/admin/personInfo.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/swiper.jquery.min.js"></script>
</head>
<body>
	<div class="body">
		<div class="search">
			用户个人信息
		</div>
		<div class="data">
			<form action="">
				<table>
					<tr>
						<td width="85px">工号</td>
						<td th:text="${userInfo.no}"></td>
					</tr>
					<tr>
						<td>姓名</td>
						<td th:text="${userInfo.name}"></td>
					</tr>
					<tr>
						<td>相片</td>
						<td th:text="${userInfo.image}"></td>
					</tr>
					<tr>
						<td>性别</td>
						<td th:text="${userInfo.gender}"></td>
					</tr>
					<tr>
						<td>账号密码</td>
						<td th:text="${userInfo.password}"></td>
					</tr>
					<tr>
						<td>再次确认密码</td>
						<td th:text="${userInfo.password}"></td>
					</tr>
					<tr style="background-color: white">
						<td colspan="2"><input type="submit" value="修改"></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>