<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学生信息管理</title>

    <link rel="stylesheet" type="text/css" href="../css/personInfo.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
</head>
<body>
	<div class="body">
		<div class="search">
			用户个人信息
		</div>
		<div class="data">
			<form action="">
				<table>
					<tr>
						<td>工号</td>
						<td><input type="text" name="" disabled="false" class="input-noneBorder"></td>
						<td></td>
					</tr>
					<tr>
						<td>姓名</td>
						<td><input type="text" name="" disabled="false" class="input-noneBorder"></td>
						<td></td>
					</tr>
					<tr>
						<td>相片</td>
						<td><img src="#" width="80px" height="80px"></td>
						<td></td>
					</tr>
					<tr>
						<td>性别</td>
						<td>
							<select>
								<option checked>男</option>
								<option>女</option>
							</select>
						</td>
						<td></td>
					</tr>
					<tr>
						<td>昵称</td>
						<td><input type="text" name="" class="background-none"></td>
						<td></td>
					</tr>
					<tr>
						<td>签名</td>
						<td><textarea class="background-none"></textarea></td>
						<td></td>
					</tr>
					<tr>
						<td>账号密码</td>
						<td><input type="password" name="" class="background-none"></td>
						<td></td>
					</tr>
					<tr>
						<td>再次确认密码</td>
						<td><input type="password" name="" class="background-none"></td>
						<td></td>
					</tr>
					<tr style="background-color: white">
						<td colspan="3"><input type="submit" value="修改"></td>
					</tr>
				</table>
			</form>			
		</div>	
	</div>
</body>
</html>