<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学生信息管理</title>

    <link rel="stylesheet" type="text/css" href="/css/helper-info-studentAndProjection.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/swiper.jquery.min.js"></script>
</head>
<body>
	<div class="body">
		<div class="data">
			<div class="student">
				<span class="infoTitle">---------------------------学生信息-------------------------</span>
				<table>
					<tr>
						<td width="95px">学号</td>
						<td>1</td>
					</tr>
					<tr>
						<td>姓名</td>
						<td>1</td>
					</tr>
					<tr>
						<td>系别</td>
						<td>1</td>
					</tr>
					<tr>
						<td>专业</td>
						
						<td>1</td>
					</tr>
					<tr>
						<td>联系电话</td>
						<td>1</td>
					</tr>
				</table>
			</div>
			<div class="teacher">
				<span class="infoTitle">------------------------指导教师信息----------------------</span>
				<table>
					<tr>
						<td width="95px">工号</td>
						<td>1</td>
					</tr>
					<tr>
						<td>姓名</td>
						<td>1</td>
					</tr>
					<tr>
						<td>系别</td>
						<td>1</td>
					</tr>
					<tr>
						<td>联系电话</td>
						<td>1</td>
					</tr>
					<tr>
						<td>邮箱</td>
						<td></td>
					</tr>
				</table>
			</div>
			<div class="projection">
				<span class="infoTitle">课题信息</span>
				<table>
					<tr>
						<td width="95px">课题编号</td>
						<td>1</td>
					</tr>
					<tr>
						<td>标题</td>
						<td>1</td>
					</tr>
					<tr>
						<td>描述</td>
						<td>1</td>
					</tr>
				</table>
			</div>
		</div>	
	</div>	
</body>
</html>