<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/css/admin/admin-motaikuang.css">
    <link rel="stylesheet" type="text/css" href="/css/teacher/materialReview.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/swiper.jquery.min.js"></script>
</head>
<body class="body">
<div class="function">
    <input type="button" value="任务书审阅">
    <input type="button" value="论文审阅">
</div>

<!--内容-->
<div class="displays hides">
    <div>
        <input type="button" value="查看统计">

        <!-- 模态框开始 -->
        <div class="top myModal hide">
            <p class="p"><h5>已提交人数：</h5><span></span></p>
            <p class="p"><h5>未提交人数：</h5><span></span><input type="button" value="查看"></p>
            <p class="p"><h5>已通过人数：</h5><span></span></p>
            <p class="p"><h5>未通过人数：</h5><span></span><input type="button" value="查看"></p>
            <p class="p"><input type="button" value="关闭"></p>
        </div>
        <div class="top shade hide"></div>
        <!-- 模态框结束 -->
    </div>
    <div class="search">
        <label>学号：</label><input type="text" name="no">
        <span>&nbsp;&nbsp;</span>
        <label>姓名：</label><input type="text" name="name">
        <input type="button" value="搜索">
    </div>
    <div>
        <!-- 批阅模态框开始 -->
        <div class="top myModal hide">
            <p style="display: none"><input type="text" name="id"></p>
            <p class="p">
                <label>状态：</label>
                <select name="auditStatus">
                    <option value="1">通过</option>
                    <option value="2">待修改</option>
                </select>
            </p>
            <p class="p">
                <label>审阅意见：</label>
                <textarea name="auditRemark"></textarea>
            </p>
            <p class="p"><input type="button" value="取消"><input type="button" value="提交"></p>
        </div>
        <div class="top shade hide"></div>
        <!-- 批阅模态框结束 -->

        <table class="tables data">
            <thead>
            <tr>
                <th width="50px">序号</th>
                <th  width="100px">学号</th>
                <th width="100px">姓名</th>
                <th width="200px">课题</th>
                <th width="180px">提交日期</th>
                <th width="100px">审阅状态</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="dataList">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" value="下载文件"><input type="button" value="审批" store=""></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- jq代码 -->
<script>
    $(document).ready(function () {
        $('input[value="任务书审阅"]').click(function () {
            $('.displays').removeClass('hides');

            listTaskBook(null, null)
        })

        $('input[value="论文审阅"]').click(function () {
            $('.displays').removeClass('hides');

            findByAuditStatus(2)
        })


        //添加按钮 显示模态框
        $('input[value="查看统计"]').click(function () {
            $('.top .hide').removeClass('hide');
        })


        //确定按钮 添加ajax
        $('input[value="确定"]').click(function () {
            $('.top .myModal, .top .shade').addClass('hide');
        })

        //取消按钮
        $('input[value="取消"]').click(function () {
            $('.myModal input[name="id"]').val("");
            $('.myModal input[name="title"]').val("");
            $('.myModal textarea').val("");

            $('.myModal,.shade').addClass('hide');
        })

        //下载文件按钮
        $(".data").on("click", "input[value='下载文件']", function () {
            var id = $(this).attr("store");
            var a = document.createElement('a'); // 创建a标签
            $(a).css("display","none")
            a.setAttribute('href', '/taskBook/record/'+id);// href链接
            a.click();// 自执行点击事件
            a.remove()
        })

        //删除按钮
        $(".data").on("click", "input[value='删除']", function () {
            var tds = $(this).parent().prevAll();
            //jquery对象加上索引是dom对象
            var id = $(tds[3]).attr("store");
            var status = $(tds[3]).attr("status");
            deleteById(id);
            findByAuditStatus(status)
        })
    });

    //时间格式化
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }


    // 时间函数
    function listTaskBook(no, name) {
        $.ajax({
            url: '/taskBook/listTaskBook',
            type: 'GET',
            data: {
                no: no,
                name: name
            },
            async: false,
            dataType: 'json',
            success: function (data) {
                var dataList = $("#dataList");
                dataList.html("");

                for (i = 0; i < data.data.length; i++) {
                    var str = "<tr><td>" + (i + 1) + "</td> "
                        +"<td>" + data.data[i].student.no + "</td> "
                        +"<td>" + data.data[i].student.name + "</td> "
                        +"<td>" + data.data[i].projection.title + "</td> "
                        +"<td>" + (new Date(data.data[i].createTime)).Format("yyyy-MM-dd hh:mm:ss") + "</td> "

                    if (data.data[i].auditStatus == 0) {
                        str = str + "<td style='color: #0e0074;'>未审核</td>"
                            + "<td><input type=\"button\" name=\"\" value=\"下载文件\" store=\"" + data.data[i].id + "\">"
                            +"<input type=\"button\" value=\"审批\" store=\""+ data.data[i].id + " \"></td>";
                    } else if (data.data[i].auditStatus == 1) {
                        str = str + "<td style='color: #e9a931;'>通过</td><td></td>"
                    } else if (data.data[i].auditStatus == 2) {
                        str = str + "<td style='color: #e9005f;'>未通过</td><td></td>";
                    }
                    str = str + "</tr>";

                    dataList.append(str)
                }
            }
        });
    }


    function deleteById(id) {
        $.ajax({
            url: '/projection/deleteById',
            type: 'DELETE',
            data: {
                id: id
            },
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                }
            }
        });
    }

    function add(title, require, introduce) {
        $.ajax({
            url: '/projection/add',
            type: 'POST',
            data: {
                title: title,
                demand: require,
                introduce: introduce
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    findByAuditStatus(0);
                }
            }
        });
    }

    function update(id, title, require, introduce) {
        $.ajax({
            url: '/projection/update',
            type: 'POST',
            data: {
                id: id,
                title: title,
                demand: require,
                introduce: introduce
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    findByAuditStatus(0);
                    alert(data.msg)
                }
            }
        });
    }
</script>
</body>
</html>