<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../css/admin/admin-motaikuang.css">
    <link rel="stylesheet" type="text/css" href="../css/teacher/materialReview.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
</head>
<body class="body">
<div class="function">
    <input type="button" value="任务书审阅">
    <input type="button" value="论文审阅">
</div>

<!--内容-->
<div class="displays hides">
    <!--内容标题-->
    <legend class="title"></legend>

    <!-- 学生搜索 -->
    <div class="search search-student">
        <span>学生查询 ---> &nbsp;&nbsp;&nbsp;</span>
        <label>状态：</label>
        <select name="status">
            <option value="0" selected>全部</option>
            <option value="1">已提交</option>
            <option value="2">未提交</option>
            <option value="3">已通过</option>
            <option value="4">未通过</option>
        </select>
        <input type="button" value="搜索">
    </div>

    <!-- 材料搜索 -->
    <div class="search search-material">
        <span>提交材料查找 ---> &nbsp;&nbsp;&nbsp;</span>
        <label>学号：</label><input type="text" name="no">
        <span>&nbsp;&nbsp;</span>
        <label>姓名：</label><input type="text" name="name">
        <input type="button" value="搜索">
    </div>
    <div>
        <!-- 批阅模态框开始 -->
        <div class="bottoms myModal hide">
            <p style="display: none">
                <input type="text" name="id" class="hide">
                <input type="text" name="type" class="hide">
            </p>
            <p class="p">
            <table style="margin-left: 20px">
                <tr>
                    <td>
                        <label>状态：</label>
                    </td>
                    <td>
                        <select name="auditStatus">
                            <option value="1">通过</option>
                            <option value="2">待修改</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>审阅意见：</label>
                    </td>
                    <td>
                        <textarea name="auditRemark"></textarea>
                    </td>
                </tr>
            </table>
            </p>
            <p class="p"><input type="button" value="取消"><input type="button" value="提交"></p>
        </div>
        <div class="bottoms shade hide"></div>
        <!-- 批阅模态框结束 -->

        <table class="tables data" id="dataList">

        </table>
    </div>
</div>


<!-- jq代码 -->
<script>
    $(document).ready(function () {
        $('input[value="任务书审阅"]').click(function () {
            $('.displays').removeClass('hides');
            $('.title').html('任务书提交情况');
            $('.displays').attr('store', "1");

            listTaskBook(null, null)
        })

        $('input[value="论文审阅"]').click(function () {
            $('.displays').removeClass('hides');
            $('.title').html('论文提交情况');
            $('.displays').attr('store', "2");
            listTheses(null, null)
        })

        $(".data").on("click", "input[value='审批']", function () {
            $('.bottoms input[name="id"]').val($(this).attr("store"));
            $('.bottoms input[name="type"]').val($(this).attr("fileType"));

            $('.bottoms').removeClass('hide');
        })
        $('input[value="提交"]').click(function () {
            $('.bottoms').addClass('hide');

            var id = $('.bottoms input[name="id"]').val();
            var type = $('.bottoms input[name="type"]').val();
            var status = $('.bottoms select[name="auditStatus"]').val();
            var remark = $('.bottoms textarea').val();
            if (type == 1) {
                updateTaskBook(id, status, remark)
            } else if (type == 2) {
                updateTheses(id, status, remark)
            }
        })
        $('input[value="取消"]').click(function () {
            $('.bottoms input[name="id"]').val("");
            $('.bottoms select[name="auditStatus"]').val("1");
            $('.bottoms textarea').val("");

            $('.bottoms').addClass('hide');
        })

        //学生搜索
        $('.search-student input[value="搜索"]').click(function () {
            var type = $('.displays').attr('store');
            var status = $('.search-student select[name="status"]').val()
            if (type == 1) {
                if (status == 0) {
                    countTaskBook(null, null)
                } else if (status == 1) {
                    countTaskBook(1, null)

                } else if (status == 2) {
                    countTaskBook(0, null)

                } else if (status == 3) {
                    countTaskBook(null, 1)

                } else if (status == 4) {
                    countTaskBook(null, 2)
                }
            } else if (type == 2) {
                if (status == 0) {
                    countTheses(null, null)
                } else if (status == 1) {
                    countTheses(1, null)

                } else if (status == 2) {
                    countTheses(0, null)

                } else if (status == 3) {
                    countTheses(null, 1)

                } else if (status == 4) {
                    countTheses(null, 2)
                }
            }
        })

        //材料搜索
        $('.search-material input[value="搜索"]').click(function () {
            var type = $('.displays').attr('store', "1");
            var no = $(".search-material input[name='no']").val();
            var name = $(".search-material input[name='name']").val();
            listTaskBook(no, name)
        })

    });

    //时间格式化
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    function listTaskBook(no, name) {
        $.ajax({
           url: '../teacher:taskBook/listTaskBook',
            type: 'GET',
            data: {
                no: no,
                name: name
            },
            async: false,
            dataType: 'json',
            success: function (data) {
                var dataList = $("#dataList");
                dataList.html("");
                var heads = "<thead>\n" +
                    "            <tr>\n" +
                    "                <th width=\"50px\">序号</th>\n" +
                    "                <th width=\"100px\">学号</th>\n" +
                    "                <th width=\"100px\">姓名</th>\n" +
                    "                <th width=\"200px\">课题</th>\n" +
                    "                <th width=\"180px\">提交日期</th>\n" +
                    "                <th width=\"100px\">审阅状态</th>\n" +
                    "                <th></th>\n" +
                    "            </tr>\n" +
                    "            </thead><tbody>"
                dataList.append(heads)

                for (i = 0; i < data.data.length; i++) {
                    var str = "<tr><td>" + (i + 1) + "</td> "
                        + "<td>" + data.data[i].student.no + "</td> "
                        + "<td>" + data.data[i].student.name + "</td> "
                        + "<td>" + data.data[i].projection.title + "</td> "
                        + "<td>" + (new Date(data.data[i].createTime)).Format("yyyy-MM-dd hh:mm:ss") + "</td> "

                    if (data.data[i].auditStatus == 0) {
                        str = str + "<td style='color: #0e0074;'>未审核</td>"
                            + "<td><a href=\"/teacher:taskBook/record/" + data.data[i].id + "\"><input type=\"button\" value=\"下载文件\" ></a>"
                            + "<input type=\"button\" value=\"审批\" store=\"" + data.data[i].id + " \" fileType =\"" + data.data[i].fileType + "\"></td>";

                    } else if (data.data[i].auditStatus == 1) {
                        str = str + "<td style='color: #e9a931;'>通过</td><td></td>"
                    } else if (data.data[i].auditStatus == 2) {
                        str = str + "<td style='color: #e9005f;'>未通过</td><td></td>";
                    }
                    str = str + "</tr>";

                    dataList.append(str)
                }
                dataList.append("</tbody>")
            }
        });
    }

    function listTheses(no, name) {
        $.ajax({
           url: '../teacher:theses/listTheses',
            type: 'GET',
            data: {
                no: no,
                name: name
            },
            async: false,
            dataType: 'json',
            success: function (data) {
                var dataList = $("#dataList");
                dataList.html("");
                var heads = "<thead>\n" +
                    "            <tr>\n" +
                    "                <th width=\"50px\">序号</th>\n" +
                    "                <th width=\"100px\">学号</th>\n" +
                    "                <th width=\"100px\">姓名</th>\n" +
                    "                <th width=\"200px\">课题</th>\n" +
                    "                <th width=\"180px\">提交日期</th>\n" +
                    "                <th width=\"100px\">审阅状态</th>\n" +
                    "                <th></th>\n" +
                    "            </tr>\n" +
                    "            </thead><tbody>"
                dataList.append(heads)

                for (i = 0; i < data.data.length; i++) {
                    var str = "<tr><td>" + (i + 1) + "</td> "
                        + "<td>" + data.data[i].student.no + "</td> "
                        + "<td>" + data.data[i].student.name + "</td> "
                        + "<td>" + data.data[i].projection.title + "</td> "
                        + "<td>" + (new Date(data.data[i].createTime)).Format("yyyy-MM-dd hh:mm:ss") + "</td> "

                    if (data.data[i].auditStatus == 0) {
                        str = str + "<td style='color: #0e0074;'>未审核</td>"
                            + "<td><a href=\"/teacher:theses/record/" + data.data[i].id + "\"><input type=\"button\" name=\"\" value=\"下载文件\" ></a>"
                            + "<input type=\"button\" value=\"审批\" store=\"" + data.data[i].id + " fileType =\"" + data.data[i].fileType + "\" ></td>";

                    } else if (data.data[i].auditStatus == 1) {
                        str = str + "<td style='color: #e9a931;'>通过</td><td></td>"
                    } else if (data.data[i].auditStatus == 2) {
                        str = str + "<td style='color: #e9005f;'>未通过</td><td></td>";
                    }
                    str = str + "</tr>";

                    dataList.append(str)
                }
                dataList.append("</tbody>")
            }
        });
    }

    function updateTaskBook(id, status, remark) {
        $.ajax({
           url: '../teacher:taskBook/updateAudit',
            type: 'POST',
            data: {
                id: id,
                status: status,
                remark: remark
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    listTaskBook(null, null)
                }
            }
        });
    }

    function updateTheses(id, status, remark) {
        $.ajax({
           url: '../teacher:theses/updateAudit',
            type: 'POST',
            data: {
                id: id,
                status: status,
                remark: remark
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    listTheses(null, null)
                }
            }
        });
    }

    function countTheses(submitStatus, auditStatus) {
        $.ajax({
           url: '../teacher:materialStatus/countTheses',
            type: 'GET',
            data:{
                submitStatus:submitStatus,
                auditStatus:auditStatus
            },
            dataType: 'json',
            success: function (data) {
                var dataList = $("#dataList");
                dataList.html("");
                var heads = "<thead>\n" +
                    "            <tr>\n" +
                    "                <th width=\"50px\">序号</th>\n" +
                    "                <th width=\"100px\">学号</th>\n" +
                    "                <th width=\"100px\">姓名</th>\n" +
                    "                <th width=\"200px\">课题</th>\n" +
                    "                <th width=\"180px\">提交状态</th>\n" +
                    "                <th width=\"100px\">审阅状态</th>\n" +
                    "            </tr>\n" +
                    "            </thead><tbody>"
                dataList.append(heads)

                for (i = 0; i < data.data.length; i++) {
                    var str = "<tr><td>" + (i + 1) + "</td> "
                        + "<td>" + data.data[i].student.no + "</td> "
                        + "<td>" + data.data[i].student.name + "</td> "
                        + "<td>" + data.data[i].projection.title + "</td> "

                    if (data.data[i].thesesSubmitStatus == 0) {
                        str = str + "<td style='color: #e9a931;'>未提交</td>"
                    } else if (data.data[i].thesesSubmitStatus == 1) {
                        str = str + "<td style='color: #e9005f;'>已提交</td>";
                    }
                    if (data.data[i].taskAuditStatus == null) {
                        str = str + "<td style='color: #0e0074;'>—</td>"
                    } else if (data.data[i].thesesAuditStatus == 0) {
                        str = str + "<td style='color: #0e0074;'>—</td>"
                    } else if (data.data[i].thesesAuditStatus == 1) {
                        str = str + "<td style='color: #e9a931;'>已通过</td>"
                    } else if (data.data[i].thesesAuditStatus == 2) {
                        str = str + "<td style='color: #e9005f;'>未通过</td>";
                    }
                    str = str + "</tr>";

                    dataList.append(str)
                }
                dataList.append("</tbody>")
            }
        });
    }

    function countTaskBook(submitStatus, auditStatus) {
        $.ajax({
           url: '../teacher:materialStatus/countTaskBook',
            type: 'GET',
            data:{
                submitStatus:submitStatus,
                auditStatus:auditStatus
            },
            dataType: 'json',
            success: function (data) {
                var dataList = $("#dataList");
                dataList.html("");
                var heads = "<thead>\n" +
                    "            <tr>\n" +
                    "                <th width=\"50px\">序号</th>\n" +
                    "                <th width=\"100px\">学号</th>\n" +
                    "                <th width=\"100px\">姓名</th>\n" +
                    "                <th width=\"200px\">课题</th>\n" +
                    "                <th width=\"180px\">提交状态</th>\n" +
                    "                <th width=\"100px\">审阅状态</th>\n" +
                    "            </tr>\n" +
                    "            </thead><tbody>"
                dataList.append(heads)

                for (i = 0; i < data.data.length; i++) {
                    var str = "<tr><td>" + (i + 1) + "</td> "
                        + "<td>" + data.data[i].student.no + "</td> "
                        + "<td>" + data.data[i].student.name + "</td> "
                        + "<td>" + data.data[i].projection.title + "</td> "

                    if (data.data[i].taskSubmitStatus == null) {
                        str = str + "<td style='color: #0e0074;'>—</td>"
                    } else if (data.data[i].taskSubmitStatus == 0) {
                        str = str + "<td style='color: #e9a931;'>未提交</td>"
                    } else if (data.data[i].taskSubmitStatus == 1) {
                        str = str + "<td style='color: #e9005f;'>已提交</td>";
                    }
                    if (data.data[i].taskAuditStatus == null) {
                        str = str + "<td style='color: #0e0074;'>—</td>"
                    } else if (data.data[i].taskAuditStatus == 0) {
                        str = str + "<td style='color: #0e0074;'>—</td>"
                    } else if (data.data[i].taskAuditStatus == 1) {
                        str = str + "<td style='color: #e9a931;'>已通过</td>"
                    } else if (data.data[i].taskAuditStatus == 2) {
                        str = str + "<td style='color: #e9005f;'>未通过</td>";
                    }
                    str = str + "</tr>";

                    dataList.append(str)
                }
                dataList.append("</tbody>")
            }
        });
    }
</script>
</body>
</html>