<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学生信息管理</title>

    <link rel="stylesheet" type="text/css" href="/css/helper-info-student.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/swiper.jquery.min.js"></script>
</head>
<body>
	<div class="body">
		<div class="function">
			<!-- 按钮触发模态框 -->
			<button id="specialType" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
				<a>特殊选题</a>
			</button>
			<button class="btn btn-primary btn-xs">
				<a>Excel导出</a>
			</button>
			<div style="float: right; margin-right:20px;">
				<label style="color: white">tip:</label>
				<span style="font-size: 8">密码重置后，密码为学号后六位</span>
			</div>
			<!-- 模态框（Modal） -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" 
									aria-hidden="true">×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								信息添加
							</h4>
						</div>
						<div class="modal-body">
							<div class="form-div">
								<label>学号：</label><input type="text" name="" class="borderRadius"><br><br>
								<label>指导老师：</label>
								<select class="borderRadius">
									<option>李四</option>
									<option>李三</option>
								</select><br><br>
								
								<label>课题：</label>
								<select class="borderRadius">
									<option>asdfas</option>
									<option>adsf</option>
									<option>asdf</option>
								</select>
								<br>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" 
									data-dismiss="modal">关闭
							</button>
							<button type="button" class="btn btn-primary">
								提交
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

		</div>
		<div class="search">
			<form>
				<label>系别：</label>
				<select>
					<option>123</option>
					<option>123</option>
					<option>123</option>
					<option>123</option>
				</select>

				<label>专业：</label>
				<select>
					<option>123</option>
					<option>123</option>
					<option>123</option>
					<option>123</option>
				</select>
				<br>
				<input type="text" name="" placeholder="学号">
				<input type="text" name="" placeholder="姓名">
				<input type="submit" name="" value="search">
			</form>	
		</div>
		<div class="data">
			<table>
				<thead>
					<tr>
						<th width="50px">编号</th>
						<th width="130px">学号</th>
						<th width="130px">姓名</th>
						<th width="130px">系别</th>
						<th min-width="130px">专业</th>
						<th width="130px">联系电话</th>
						<th width="65px">是否选题</th>
						<th width="80px"></th>
						<th width="80px"></th>
						<th width="80px"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>1540406134</td>
						<td>离散李四</td>
						<td>计算机系</td>
						<td>计算机科学与技术</td>
						<td>13414105154</td>
						<td>已选</td>
						<td><input type="button" name="" value="选题详情"></td>
						<td><input type="button" name="" value="选题重置" class="targetInfo" data-toggle="modal" data-target="#myModal"></td>
						<td><input type="button" name="" value="密码重置"></td>
					</tr>
					<tr>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>	
	</div>
	<script>
		$(".targetInfo").on("click",function(){
  			var index= $(this).index();
  			var tr = $(".data table tbody tr").eq(index)
  			var sno = tr.children().eq(1).text();
  			$(".borderRadius").val(sno);
		});

		$("#specialType").click(function(){
			$(".borderRadius").val("");
		});
	</script>
</body>
</html>