<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息管理</title>

    <link rel="stylesheet" type="text/css" href="../css/admin/admin-motaikuang.css">
    <link rel="stylesheet" type="text/css" href="../css/teacher/teacher-projection.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
</head>
<body>
<div class="body">
    <div class="search">
        <input type="button" value="提交课题">
        <label>&nbsp;&nbsp;&nbsp;课题状态：</label>
        <input type="button" value="审核中">
        <input type="button" value="已通过">
        <input type="button" value="未通过">
    </div>
</div>
<!-- 模态框开始 -->
<div class="myModal hide">
    <form id="form-data">
        <p class="p" style="display: none">id：<input type="text" name="id"></p>
        <p class="p"><label style="width: 70px; margin-left: -20px">标题：</label><input type="text" name="title"></p>
        <p class="p"><label style="width: 70px; margin-left: -20px">内容描述：</label><textarea name="introduce"></textarea></p>
        <p class="p"><label style="width: 70px; margin-left: -20px">要求：</label><textarea name="demand"></textarea></p>
        <p class="p">
            <label style="width: 70px; margin-left: -20px">专业要求：</label>
            <select name="majorId"></select>
        </p>
    </form>
    <p class="p"><input type="button" value="确定">&nbsp<input type="button" value="取消"></p>
</div>
<div class="shade hide"></div>
<!-- 模态框结束 -->

<div class="data">
    <table>
        <thead>
        <tr>
            <th style="min-width:50px " store="">序号</th>
            <th style="min-width:130px ">标题</th>
            <th style="min-width:130px ">内容描述</th>
            <th style="min-width:130px ">要求</th>
            <th style="min-width:130px ">专业要求</th>
            <th style="min-width:80px ">审核状态</th>
            <th style="min-width:100px "></th>
        </tr>
        </thead>
        <tbody id="dataList">
        </tbody>
    </table>
</div>
</div>


<!-- jq代码 -->
<script>
    $(document).ready(function () {

        intMajorSelect()

        //添加按钮 显示模态框
        $('input[value="提交课题"]').click(function () {
            $('.hide').removeClass('hide');
        })

        //课题信息查询
        $('input[value="审核中"]').click(function () {
            findByAuditStatus(0)
        })

        $('input[value="已通过"]').click(function () {
            findByAuditStatus(1)
        })

        $('input[value="未通过"]').click(function () {
            findByAuditStatus(2)
        })


        //确定按钮 添加ajax
        $('input[value="确定"]').click(function () {
            var id = $('.myModal input[name="id"]').val()

            var formData = new FormData($("#form-data")[0]);
            
            if (formData.get("title") == null || formData.get("title") == ""
                ||formData.get("introduce")== null ||formData.get("introduce")== ""
                || formData.get("demand") == null || formData.get("demand") == "")
            {
                alert("请填写完整内容！")
                return;
            }
            //信息获取

            //界面处理
            $('.myModal input[name="id"]').val("");
            $('.myModal input[name="title"]').val("");
            $('.myModal textarea').val("");
            $('.myModal,.shade').addClass('hide');

            if (id == null || id == "") {
                formData.delete("id")
                add(formData)
            } else {
                update(formData)
            }
        })

        //取消按钮
        $('input[value="取消"]').click(function () {
            $('.myModal input[name="id"]').val("");
            $('.myModal input[name="title"]').val("");
            $('.myModal textarea').val("");

            $('.myModal,.shade').addClass('hide');
        })

        //编辑按钮
        $(".data").on("click", "input[value='编辑']", function () {
            var tds = $(this).parent().prevAll();
            var id = $(tds[5]).attr("store");
            findById(id)
        })

        //删除按钮
        $(".data").on("click", "input[value='删除']", function () {
            var tds = $(this).parent().prevAll();
            //jquery对象加上索引是dom对象
            var id = $(tds[5]).attr("store");
            var status = $(tds[5]).attr("status");
            deleteById(id);
            findByAuditStatus(status)
        })

    });

    function deleteById(id) {
        $.ajax({
            url: '../teacher:projection/deleteById',
            type: 'DELETE',
            data: {
                id: id
            },
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                }
            }
        });
    }

    function add(formData) {
        $.ajax({
            url: '../teacher:projection/add',
            type: 'POST',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData:false,
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    findByAuditStatus(0);
                }
            }
        });
    }

    function update(formData) {
        $.ajax({
            url: '../teacher:projection/update',
            type: 'POST',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData:false,
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    findByAuditStatus(0);
                    alert(data.msg)
                }
            }
        });
    }

    function findById(id) {
        $.ajax({
            url: '../teacher:projection/findById',
            type: 'GET',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    //jquery对象加上索引是dom对象
                    $('.myModal input[name="id"]').val(data.data.id)
                    $('.myModal input[name="title"]').val(data.data.title)
                    $('.myModal textarea[name="introduce"]').val(data.data.introduce)
                    $('.myModal select[name="majorId"]').val(data.data.majorModel.id)
                    $('.myModal textarea[name="demand"]').val(data.data.demand)
                    $('.hide').removeClass('hide');
                }
            }
        });
    }


    function findByAuditStatus(auditStatus) {
        $.ajax({
            url: '../teacher:projection/findByAuditStatus',
            type: 'GET',
            data: {
                auditStatus: auditStatus
            },
            async: false,
            dataType: 'json',
            success: function (data) {
                var dataList = $("#dataList");
                dataList.html("");

                for (i = 0; i < data.data.length; i++) {
                    var str = "<tr><td store=\"" + data.data[i].id + "\" status = \"" + data.data[i].auditStatus + "\">" + (i + 1)
                        + "</td> <td>" + data.data[i].title + "</td> "

                    if (data.data[i].introduce != null && data.data[i].introduce.length > 10) {
                        str = str + "<td>" + data.data[i].introduce.substr(0, 10) + "....</td>"
                    } else {
                        if (data.data[i].introduce == null) {
                            str = str + "<td></td>"
                        }else {
                            str = str + "<td>" + data.data[i].introduce + "</td>"
                        }
                    }
                    if (data.data[i].demand != null && data.data[i].demand.length > 10) {
                        str = str + "<td>" + data.data[i].demand.substr(0, 10) + "....</td>"
                    } else {
                        if (data.data[i].demand == null) {
                            str = str + "<td></td>"
                        }else {
                            str = str + "<td>" + data.data[i].demand + "</td>"
                        }
                    }

                    str = str + "<td>" + data.data[i].majorModel.major + "</td>"

                    if (data.data[i].auditStatus == 0) {
                        str = str + "<td>未审核</td>"
                            + "<td><input type=\"button\" name=\"\" value=\"编辑\"><input type=\"button\" name=\"\" value=\"删除\"></td> </tr>";
                    } else if (data.data[i].auditStatus == 1) {
                        str = str + "<td>审核通过</td>"
                    } else if (data.data[i].auditStatus == 2) {
                        str = str + "<td>未通过审核</td>"
                            + "<td><input type=\"button\" name=\"\" value=\"编辑\"><input type=\"button\" name=\"\" value=\"删除\"></td> </tr>";
                    }

                    dataList.append(str)
                }
            }
        });
    }

    function intMajorSelect(id) {
        $.ajax({
            url: '../teacher:major/listMajorWithLoginUser',
            type: 'GET',
            data: {
                id: id
            },
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    var majorSelect = $(".myModal select[name=majorId]")
                    var head = "<option value = \"";
                    var second = "\">";
                    var end = "</option>";

                    for (i = 0; i < data.data.length; i++) {
                        var str = head + data.data[i].id + second + data.data[i].major + end;
                        majorSelect.append(str)
                    }
                }
            }
        });
    }
</script>
</body>
</html>