.data{
	margin-top: 20px;
}
.data table{
	min-width: 300px;
	margin-left: 100px;
	align-content: center;
}
.data table thead tr th{
	text-align: center;
}
.data table tbody tr{ text-align: center; 	height:30px;	border-top: rgba(18, 99, 230, 0.3) 1px dashed;
}

.data tbody tr input[type=submit]{
	border-radius: 7px;
}
.form-div table tr:first-of-type input{
	height:90%;
	margin-bottom: 2px;
}