<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>权限管理</title>

    <link rel="stylesheet" type="text/css" href="../css/admin/admin-power-teacher.css">
    <link rel="stylesheet" type="text/css" href="../css/admin/admin-motaikuang.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
</head>
<body>
<div class="body">
    <div class="function">
        <!-- 添加权限功能 -->
        <input type="button" value="添加">
        <!-- 模态框开始 -->
        <div class="tops myModal hide">

            <h4 style="text-align: center;">用户信息</h4>
            <form id="form-data">
                <p class="p" style="display: none"><label>id：</label><input type="text" name="id"></p>
                <p class="p"><label>工号：</label><input type="text" name="no"></p>
                <p class="p">
                    <label>系别：</label>
                    <select class="department departmentSelect" name="departmentId">

                    </select>
                </p>
            </form>
            <p class="p"><input type="button" value="添加">&nbsp<input type="button" value="取消"></p>
        </div>
        <div class="tops shade hide"></div>
        <!-- 模态框结束 -->
    </div>
    <div class="search">
        <label>系别：</label>
        <select class="departmentSelect">
        </select>
        <input type="button" name="" value="搜索">
    </div>
    <div class="data">
        <table>
            <thead>
            <tr>
                <th width="50px">编号</th>
                <th width="130px">学工号</th>
                <th width="130px">姓名</th>
                <th width="130px">身份</th>
                <th width="80px">系负责人</th>
                <!--<th width="80px">课题审核员</th>-->
                <!--<th width="80px">答辩审核员</th>-->
                <th width="160px"></th>
            </tr>
            </thead>
            <tbody id="dataList">

            </tbody>
        </table>
    </div>
</div>

<!-- 内容按钮功能 -->
<script type="text/javascript">
    $(document).ready(function () {
        /****初始化下拉列表***/
        getAllDepartment();

        //搜索按钮
        $('.search input[value="搜索"]').click(function () {
            var departmentId = $(".search .departmentSelect").val();

            findByDepartmentId(departmentId);
        });

        //添加按钮
        $('input[value="添加"]').click(function () {
            $('.tops').removeClass('hide');
        });
        //取消按钮
        $('.function input[value="取消"]').click(function () {
            $("#form-data input").val("");
            $('.tops').addClass('hide');
        });

        //模态框内部 添加按钮 添加ajax
        $('.tops input[value="添加"]').click(function () {
            var forms = $("#form-data")

            add(forms)

            $("#form-data input").val("");
            $('.tops').addClass('hide');
        });

        //确定按钮
        $(".data").on("click", "#dataList input[value='确定']", function () {
            var tds = $(this).parent().prevAll();
            var id = $(tds[4]).attr("store")

            var departmentLeader
            var projectAuditor
            var answerAuditor

            var checkBoxs = $(this).parent().parent().find("input[type=checkbox]")

            if ($(checkBoxs[0]).attr('checked')) {
                departmentLeader = true
            } else {
                departmentLeader = false;
            }
            // if ($(checkBoxs[1]).attr('checked')) {
            //     projectAuditor = true
            // } else {
            //     projectAuditor = false;
            // }
            // if ($(checkBoxs[2]).attr('checked')) {
            //     answerAuditor = true
            // } else {
            //     answerAuditor = false;
            // }

            update(id, departmentLeader, false, false, false, false)
        })

        //删除按钮
        $(".data").on("click", "input[value='删除']", function () {
            var tds = $(this).parent().prevAll();

            var id = $(tds[4]).attr("store")

            deleteById(id);
        })

        //checkbox
        $(".data").on("click", "input[type='checkbox']", function () {
            if ($(this).attr('checked')) {
                $(this).removeAttr("checked")
            } else {
                $(this).attr("checked", "true")
            }

        })
    })

    function add(formData) {
        $.ajax({
           url: '../power/add',
            type: 'POST',
            data: formData.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    findByDepartmentId(data.data.departmentId)
                }
            }
        });
    }

    function update(id, departmentLeader, projectAuditor, answerAuditor) {
        $.ajax({
           url: '../power/update',
            type: 'POST',
            data: {
                id: id,
                departmentLeader: departmentLeader,
                projectAuditor: projectAuditor,
                answerAuditor: answerAuditor,
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    findByDepartmentId(data.data.departmentId)
                }
            }
        });
    }

    function deleteById(id) {
        $.ajax({
           url: '../power/deleteById',
            type: 'DELETE',
            async: false,
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                findByDepartmentId(data.data.departmentId)
            }
        });
    }

    function getAllDepartment() {
        $.ajax({
           url: '../department/list',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var dataList = $(".departmentSelect");
                dataList.html("");

                var head = "<option value = \"";
                var second = "\">";
                var end = "</option>";
                for (i = 0; i < data.data.length; i++) {
                    var str = head + data.data[i].id + second + data.data[i].department + end;
                    dataList.append(str)
                }
            }
        });
    }

    function findByDepartmentId(departmentId) {
        $.ajax({
           url: '../power/findByDepartmentId',
            type: 'GET',
            data: {
                departmentId: departmentId
            },
            dataType: 'json',
            success: function (data) {
                var dataList = $("#dataList");
                dataList.html("");


                for (i = 0; i < data.data.length; i++) {
                    var str = "<tr><td store=\"" + data.data[i].id + "\">" + (i + 1) + "</td><td>" + data.data[i].userModel.no + "</td>"
                        + "<td>" + data.data[i].userModel.name + "</td>";
                    if (data.data[i].userModel.identify == 1) {
                        str = str + "<td>教师</td>"

                        if (data.data[i].departmentLeader) {
                            str = str + "<td><input type=\"checkbox\" name=\"departmentLeader\" checked='true'></td>"
                        } else {
                            str = str + "<td><input type=\"checkbox\" name=\"departmentLeader\"></td>"
                        }
                        // if (data.data[i].projectAuditor) {
                        //     str = str + "<td><input type=\"checkbox\" name=\"projectAuditor\" checked='true'></td>"
                        // } else {
                        //     str = str + "<td><input type=\"checkbox\" name=\"projectAuditor\"></td>"
                        // }
                        // if (data.data[i].answerAuditor) {
                        //     str = str + "<td><input type=\"checkbox\" name=\"answerAuditor\" checked='true'></td>"
                        // } else {
                        //     str = str + "<td><input type=\"checkbox\" name=\"answerAuditor\"></td>"
                        // }
                    }

                    str = str + "<td><input type=\"button\" value=\"确定\"><input type=\"button\" value=\"删除\"></td></tr>"
                    dataList.append(str)
                }
            }
        });
    }
</script>
</body>
</html>