<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>专业信息管理</title>

    <link rel="stylesheet" type="text/css" href="../css/admin/admin-info-department.css">
    <link rel="stylesheet" type="text/css" href="../css/admin/admin-motaikuang.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
</head>
<body>
<div class="body">
    <div class="function">
        <div>
            <!-- 搜索功能 -->
            <label>系别：</label>
            <select class="intput-border" id="seleteId">
                <option>计算机系</option>
                <option>软件系</option>
            </select>
            <!-- 添加ajax 获取系别信息 -->
            <script type="text/javascript" th:inline="javascript">
                $(document).ready(function () {
                    function getDepartmentList() {
                        $.ajax({
                           url: '../admin:department/list',
                            type: 'GET',
                            dataType: 'json',
                            success: function (data) {
                                var dataList = $(".intput-border");
                                dataList.html("");

                                var head = "<option value='"
                                var cheacked = "<option selected value='"
                                var second = "'>"
                                var third = "</option>";

                                var str
                                for (i = 0; i < data.data.length; i++) {
                                    var departmentId = [[${session.departmentId}]];
                                    if (departmentId == data.data[i].id){
                                        str= cheacked + data.data[i].id + second + data.data[i].department + third;
                                    }else {
                                        str = head + data.data[i].id + second + data.data[i].department + third;
                                    }
                                    dataList.append(str)
                                }
                            }
                        });
                    }
                    var getInfo = getDepartmentList();
                })
            </script>

            <input type="button" name="" value="搜索">

            <!-- 添加专业功能 -->
            <input type="button" value="添加">
        </div>
        <div>
            <!-- 模态框开始 -->
            <div class="myModal hide">
                <p class="p" style="display: none">id：<input type="text"></p>
                <p class="p">专业：<input type="text"></p>
                <p class="p">简介：<textarea id="introduce"></textarea></p>
                <p class="p"><input type="button" value="确定">&nbsp<input type="button" value="取消"></p>
            </div>
            <div class="shade hide"></div>
            <!-- 模态框结束 -->
        </div>
    </div>
    <div class="data">
        <table>
            <thead>
            <tr>
                <th width="50px">编号</th>
                <th width="130px">专业</th>
                <th width="130px">简介</th>
                <th width="80px"></th>
            </tr>
            </thead>
            <tbody id="dataList">
            <p th:if="${majors==null || majors==''}">空</p>
            <tr th:each="major,majorStatus: ${majors}">
                <td th:text="${majorStatus.count}"></td>
                <td style="display: none" th:text="${major.id}"></td>
                <td th:text="${major.major}"></td>
                <td th:text="${major.introduce}"></td>
                <td><input type="button" value="编辑"><input type="button" value="删除"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- 内容按钮功能 -->
<script type="text/javascript">
    $(document).ready(function () {
        //搜索按钮
        $('.function input[value="搜索"]').click(function () {
            var departmentId = $("#seleteId").val();
            findByDepartmentId(departmentId);
        });

        //添加按钮
        $('input[value="添加"]').click(function () {
            $('.hide').removeClass('hide');
        });

        //取消按钮
        $('input[value="取消"]').click(function () {
            $('.myModal input[type="text"]').val('');
            $("#introduce").val("")
            $('.myModal,.shade').addClass('hide');
        });

        //确定按钮 添加ajax
        $('input[value="确定"]').click(function () {
            var text = $('.myModal input[type="text"]')
            //信息获取
            var id = $(text[0]).val();
            var majorName = $(text[1]).val();
            var introduce = $("#introduce").val()

            //界面处理
            $('.myModal input[type="text"]').val('');
            $("#introduce").val("")
            $('.myModal,.shade').addClass('hide');

            if (id == null || id == "") {
                add(majorName, introduce)
            } else {
                update(id, majorName, introduce)
            }
        });

        //编辑按钮
        $(".data").on("click", "input[value='编辑']", function () {
            $('.hide').removeClass('hide');
            var tds = $(this).parent().prevAll();
            //jquery对象加上索引是dom对象
            $($('.myModal input')[0]).val($(tds[2]).text());
            $($('.myModal input')[1]).val($(tds[1]).text());
            $($('.myModal textarea')).val($(tds[0]).text());
        })

        //删除按钮
        $(".data").on("click", "input[value='删除']", function () {
            var tds = $(this).parent().prevAll();
            //jquery对象加上索引是dom对象
            var id = $(tds[2]).text()
            deleteById(id);
        })
    })

    function add(majorName, introduce) {
        $.ajax({
           url: '../admin:major/add',
            type: 'POST',
            data: {
                majorName: majorName,
                introduce: introduce
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    findByDepartmentId(data.data.departmentId);
                }
            }
        });
    }

    function update(id, majorName, introduce) {
        $.ajax({
           url: '../admin:major/update',
            type: 'POST',
            data: {
                id: id,
                majorName: majorName,
                introduce: introduce
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    findByDepartmentId(data.data.departmentId);
                }
            }
        });
    }

    function deleteById(id) {
        $.ajax({
           url: '../admin:major/deleteById',
            type: 'DELETE',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                }else{
                    var dataList = $("#dataList");
                    dataList.html("");

                    var head = "<tr> <td>";
                    var second = "</td> <td style=\"display: none\">";
                    var rep = "</td> <td>";
                    var end = "</td> <td><input type=\"button\" value=\"编辑\"><input type=\"button\" value=\"删除\"></td> </tr>";

                    for (i = 0; i < data.data.length; i++) {
                        var str = head + (i + 1) + second + data.data[i].id + rep + data.data[i].major + rep + data.data[i].introduce + end;
                        dataList.append(str)
                    }
                }
            }
        });
    }

    function findByDepartmentId(departmentId) {
        $.ajax({
           url: '../admin:major/findByDepartmentId',
            type: 'GET',
            data: {
                departmentId: departmentId
            },
            dataType: 'json',
            success: function (data) {
                var dataList = $("#dataList");
                dataList.html("");

                var head = "<tr> <td>";
                var second = "</td> <td style=\"display: none\">";
                var rep = "</td> <td>";
                var end = "</td> <td><input type=\"button\" value=\"编辑\"><input type=\"button\" value=\"删除\"></td> </tr>";

                for (i = 0; i < data.data.length; i++) {
                    var str = head + (i + 1) + second + data.data[i].id + rep + data.data[i].major + rep + data.data[i].introduce + end;
                    dataList.append(str)
                }
            }
        });
    }
</script>
</body>
</html>