<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息管理</title>

    <link rel="stylesheet" type="text/css" href="../css/admin/admin-info-student.css">
    <link rel="stylesheet" type="text/css" href="../css/admin/admin-motaikuang.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
</head>
<body>
<div class="body">
    <div class="function">

        <input type="button" value="批量导入">
        <!-- 模态框开始 -->
        <div class="tops myModal hide">
            <h4 style="text-align: center;">学生信息</h4>
            <form id="form-datas" enctype="multipart/form-data" name="excel">
                <p class="p">
                    <label>系别：</label>
                    <select class="department departmentSelect" name="departmentId">
                    </select>
                </p>
                <p class="p">
                    <label>专业：</label>
                    <select class="major majorSelect" name="majorId">
                    </select>
                </p>
                <p class="p">
                    <label>excel文件：</label>
                    <input type="file" name="file">
                </p>
            </form>
            <p class="p"><input type="button" value="确定">&nbsp<input type="button" value="取消"></p>
            <a href="../admin/file/getExcelOfStudent"><span style="padding: 0px 0px 5px 15px; color: red; ">模板下载</span></a>
        </div>
        <div class="tops shade hide"></div>
        <!-- 模态框结束 -->

        <!-- 添加专业功能 -->
        <input type="button" value="添加">
        <!-- 模态框开始 -->
        <div class="bottoms myModal hide">
            <h4 style="text-align: center;">学生信息</h4>
            <form id="form-data">
                <p class="p" style="display: none"><label>id：</label><input type="text" name="id"></p>
                <p class="p"><label>学号：</label><input type="text" name="no"></p>
                <p class="p"><label>姓名：</label><input type="text" name="name"></p>
                <p class="p">
                    <label>性别：</label>
                    <select name="gender">
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </p>
                <p class="p">
                    <label>系别：</label>
                    <select class="department departmentSelect" name="departmentId">

                    </select>
                </p>
                <p class="p">
                    <label>专业：</label>
                    <select class="major majorSelect" name="majorId">

                    </select>
                </p>
            </form>
            <p class="p"><input type="button" value="确定">&nbsp<input type="button" value="取消"></p>
        </div>
        <div class="bottoms shade hide"></div>
        <!-- 模态框结束 -->
    </div>
    <div class="search">
        <label>系别：</label>
        <select class="department departmentSelect">

        </select>

        <label>专业：</label>
        <select class="major majorSelect">
            <option>计算机科学与技术</option>
            <option>物联网</option>
        </select>
        <br>
        <input type="text" name="no" placeholder="学号">
        <input type="text" name="name" placeholder="姓名">
        <input type="button" value="搜索">
    </div>
    <div class="data">
        <table>
            <thead>
            <tr>
                <th width="50px">编号</th>
                <th width="50px" style="display: none">id</th>
                <th width="130px">学号</th>
                <th width="130px">姓名</th>
                <th width="130px">系别</th>
                <th width="130px">专业</th>
                <th width="150px"></th>
            </tr>
            </thead>
            <tbody id="dataList">

            </tbody>
        </table>
    </div>
</div>
<!-- 内容按钮功能 -->
<script type="text/javascript">
    $(document).ready(function () {
        var searchInfo={
            majorId: null,
            departmentId: null,
            no: null,
            name: null,
            page:null,
            size:10
        }

        var baseSearchInfo = searchInfo;
        /****初始化下拉列表***/
        getAllDepartment();

        $(".departmentSelect").change(function () {
            var departmentId = $(this).children('option:selected').val()
            var index = $(".departmentSelect").index(this)
            findMajorByDepartmentId(departmentId, index)
        })

        //批量导入按钮
        $('input[value="批量导入"]').click(function () {
            $('.tops').removeClass('hide');
        });

        $('.tops input[value="确定"]').click(function () {
            var form = document.forms.namedItem("excel");

            batchImportOfStudent(new FormData(form))

            $('.tops').addClass('hide');
        });

        //搜索按钮
        $('.search input[value="搜索"]').click(function () {
            var departmentId = $(".search .departmentSelect").val();
            var majorId = $(".search .majorSelect").val();
            var no = $(".search input[name=no]").val()
            var name = $(".search input[name=name]").val()


            searchInfo.departmentId = departmentId;
            searchInfo.majorId = majorId;
            searchInfo.no =no;
            searchInfo.name =name;
            searchInfo.page =0;

            findList(searchInfo);
        });

        //添加按钮
        $('input[value="添加"]').click(function () {
            $('.bottoms').removeClass('hide');
        });
        //取消按钮
        $('.function input[value="取消"]').click(function () {
            $("#form-data input").val("");
            $('.myModal,.shade').addClass('hide');
        });

        //确定按钮 添加ajax
        $('.bottoms input[value="确定"]').click(function () {
            var forms = $("#form-data")

            if (forms.find("input[name=id]").val() == null || forms.find("input[name=id]").val() == "") {
                add(forms)
            } else {
                update(forms)
            }
            var departmentId = forms.find("p select[name=departmentId]").val();
            var majorId = forms.find("p select[name=majorId]").val();
            findList(searchInfo);

            $("#form-data input").val("");
            $('.bottoms').addClass('hide');
        });

        //编辑按钮
        $(".data").on("click", "input[value='编辑']", function () {
            $('.hide').removeClass('hide');
            var tds = $(this).parent().prevAll();
            var id = $(tds[4]).text()
            findById(id)
        })

        //删除按钮
        $(".data").on("click", "input[value='删除']", function () {
            var tds = $(this).parent().prevAll();

            var id = $(tds[4]).text()
            var departmentId = $(tds[1]).attr("store")
            var majorId = $(tds[0]).attr("store")

            deleteById(id);
            findList(searchInfo)
        })

        //首页按钮
        $(".data").on("click", ".firstPage", function () {
            searchInfo.page = 0;
            findList(searchInfo)
        })
        //上翻页按钮
        $(".data").on("click", ".pageUp", function () {
            if (searchInfo.page > 0) {
                searchInfo.page = searchInfo.page - 1;
            }
            findList(searchInfo)
        })

        //下翻页按钮
        $(".data").on("click", ".pageDown", function () {
            searchInfo.page =searchInfo.page +1;

            findList(searchInfo)
        })
        //尾页按钮
        $(".data").on("click", ".lastPage", function () {
            searchInfo.page = $(this).attr("id") -1;
            findList(searchInfo)
        })

    })

    function add(formData) {
        $.ajax({
           url: '../admin/student/add',
            type: 'POST',
            data: formData.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                }
            }
        });
    }
    function batchImportOfStudent(formData) {
        $.ajax({
            url: '../admin/file/batchImportOfStudent',
            type: 'POST',
            data:formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                }else{
                    alert(data.msg)
                }
            }
        });
    }
    function update(formData) {
        $.ajax({
           url: '../admin/student/update',
            type: 'POST',
            data: formData.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    alert(data.msg)
                }
            }
        });
    }

    function findList(searchInfo) {
        $.ajax({
           url: '../admin/student/findStudent',
            type: 'GET',
            data: {
                majorId: searchInfo.majorId,
                departmentId: searchInfo.departmentId,
                no: searchInfo.no,
                name: searchInfo.name,
                page:searchInfo.page,
                size:searchInfo.size
            },
            dataType: 'json',
            success: function (data) {
                var dataList = $("#dataList");
                dataList.html("");

                for (i = 0; i < data.data.length; i++) {
                    var str = "<tr><td>" + (data.page * data.size +i+1) + "</td><td style=\"display: none\">" + data.data[i].id + "</td>"
                        + "<td>" + data.data[i].no + "</td><td>" + data.data[i].name + "</td>"
                        + "<td store = " + data.data[i].departmentModel.id + ">" + data.data[i].departmentModel.department + "</td>"
                        + "<td store = " + data.data[i].majorModel.id + ">" + data.data[i].majorModel.major + "</td>"
                        + "<td><input type=\"button\" value=\"编辑\"><input type=\"button\" value=\"删除\"></td></tr>"
                    dataList.append(str)
                }
                var str = "<tr><td colspan='6' style='padding-top:15px;text-align: center; background-color: white'>"
                if (data.pageUp){
                    str = str  +"<a class='firstPage' style='padding-right: 5px'>首页</a><a class='pageUp' style='padding-right: 5px'>上一页</a>"
                }
                if (data.data.length > 0) {
                    str = str + (data.page + 1) + "/" + data.totalPage;
                }
                if (data.pageDown){
                    str = str  +"<a class='pageDown' style='padding-left: 5px' >下一页</a><a class='lastPage' style='padding-left: 5px'id='"+data.totalPage+"'>尾页</a>"
                }
                var end = "</td></tr>"
                dataList.append(str +end)

            }
        });
    }
    //
    // function findByMajorIdAndDepartmentId(searchInfo) {
    //     $.ajax({
    //         url: '../admin/student/findByMajorIdAndDepartmentId',
    //         type: 'GET',
    //         data: {
    //             majorId: searchInfo.majorId,
    //             departmentId: searchInfo.departmentId,
    //             page:0,
    //             size:searchInfo.size
    //         },
    //         async: false,
    //         dataType: 'json',
    //         success: function (data) {
    //             var dataList = $("#dataList");
    //             dataList.html("");
    //
    //             for (i = 0; i < data.data.length; i++) {
    //                 var str = "<tr><td>" + (i + 1) + "</td><td style=\"display: none\">" + data.data[i].id + "</td>"
    //                     + "<td>" + data.data[i].no + "</td><td>" + data.data[i].name + "</td>"
    //                     + "<td store = " + data.data[i].departmentModel.id + ">" + data.data[i].departmentModel.department + "</td>"
    //                     + "<td store = " + data.data[i].majorModel.id + ">" + data.data[i].majorModel.major + "</td>"
    //                     + "<td><input type=\"button\" value=\"编辑\"><input type=\"button\" value=\"删除\"></td></tr>"
    //                 dataList.append(str)
    //             }
    //
    //             var str = "<tr><td style='collapse: 6; text-align: center'>"
    //             if (data.pageUp){
    //                 str = str  +"<label class='pageUp'>上一页</label>"
    //             }
    //             str  =str + (data.page+1)+"/"+data.totalPage;
    //             if (data.pageDown){
    //                 str = str  +"<label class='pageDown'>下一页</label>"
    //             }
    //             var end = "</td></tr>"
    //             dataList.append(str +end)
    //         }
    //     });
    // }

    function findById(id) {
        $.ajax({
           url: '../admin/student/findById',
            type: 'GET',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                $("#form-data input[name=id]").val(data.data.id)
                $("#form-data input[name=no]").val(data.data.no)
                $("#form-data input[name=name]").val(data.data.name)
                $("#form-data select[name=gender]").val(data.data.gender)
                $("#form-data select[name=departmentId]").val(data.data.departmentId)
                findMajorByDepartmentId(data.data.departmentId, 0)
            }
        });
    }

    function deleteById(id) {
        $.ajax({
           url: '../admin/student/deleteById',
            type: 'DELETE',
            async: false,
            data: {
                id: id
            },
            dataType: 'json'
        });
    }


    function getAllDepartment() {
        $.ajax({
           url: '../admin/department/list',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var dataList = $(".departmentSelect");
                dataList.html("");

                var head = "<option value = \"";
                var second = "\">";
                var end = "</option>";

                for (i = 0; i < data.data.length; i++) {
                    var str = head + data.data[i].id + second + data.data[i].department + end;
                    dataList.append(str)
                }
                $(dataList[2]).append("<option></option>")
                findMajorByDepartmentId(data.data[0].id, null)
            }
        });
    }

    function findMajorByDepartmentId(departmentId, index) {
        $.ajax({
           url: '../admin/major/findByDepartmentId',
            type: 'GET',
            data: {
                departmentId: departmentId
            },
            dataType: 'json',
            success: function (data) {
                var dataList = $(".majorSelect");
                if (index != null) {
                    dataList = $(".majorSelect").eq(index);
                }
                dataList.html("");

                var head = "<option value = \"";
                var second = "\">";
                var end = "</option>";

                for (i = 0; i < data.data.length; i++) {
                    var str = head + data.data[i].id + second + data.data[i].major + end;
                    dataList.append(str)
                }
                $(dataList[2]).append("<option></option>")
            }
        });
    }

</script>
</body>
</html>