<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息管理</title>

    <link rel="stylesheet" type="text/css" href="/css/admin/admin-info-student.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/admin-motaikuang.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/swiper.jquery.min.js"></script>
</head>
<body>
<div class="body">
    <div class="function">

        <button class="btn btn-primary btn-xs">
            <a>批量导入</a>
        </button>
        <button class="btn btn-primary btn-xs">
            <a>Excel模板导出</a>
        </button>

        <!-- 添加专业功能 -->
        <input type="button" value="添加">
        <!-- 模态框开始 -->
        <div class="myModal hide">
            <h4 style="text-align: center;">学生信息添加</h4>
            <form id="form-data">
                <p class="p" style="display: none"><label>id：</label><input type="text" name="id"></p>
                <p class="p"><label>学号：</label><input type="text" name="no" required></p>
                <p class="p"><label>姓名：</label><input type="text" name="name"></p>
                <p class="p">
                    <label>性别：</label>
                    <select name="gender">
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </p>
                <p class="p">
                    <label>系别：</label>
                    <select class="department departmentSelect" name="departmentId">

                    </select>
                </p>
                <p class="p">
                    <label>专业：</label>
                    <select class="major majorSelect" name="majorId">

                    </select>
                </p>
            </form>
            <p class="p"><input type="button" value="确定">&nbsp<input type="button" value="取消"></p>
        </div>
        <div class="shade hide"></div>
        <!-- 模态框结束 -->
    </div>
    <div class="search">
        <form>
            <label>系别：</label>
            <select class="department departmentSelect">

            </select>

            <label>专业：</label>
            <select class="major majorSelect">
                <option >计算机科学与技术</option>
                <option>物联网</option>
            </select>
            <br>
            <input type="text" name="" placeholder="学号">
            <input type="text" name="" placeholder="姓名">
            <input type="button" name="" value="search" onclick="show()">
        </form>
    </div>
    <div class="data">
        <table>
            <thead>
            <tr>
                <th width="50px">编号</th>
                <th width="50px" style="display: none">id</th>
                <th width="130px">学号</th>
                <th width="130px">姓名</th>
                <th width="130px">系别</th>
                <th width="130px">专业</th>
                <th width="150px"></th>
            </tr>
            </thead>
            <tbody id="dataList">

            </tbody>
        </table>
    </div>
</div>
<!-- 内容按钮功能 -->
<script type="text/javascript">
    $(document).ready(function () {
        getAllDepartment();

        $(".departmentSelect").change(function () {
            var departmentId = $(this).children('option:selected').val()
            var index = $(".departmentSelect").index($(this))
            findMajorByDepartmentId(departmentId, index)
        })
        //添加按钮
        $('input[value="添加"]').click(function () {
            $('.hide').removeClass('hide');
        });
        //取消按钮
        $('.function input[value="取消"]').click(function () {
            $('input[type="text"]').val('');
            $('.myModal,.shade').addClass('hide');
        });
        //确定按钮 添加ajax
        $('.function input[value="确定"]').click(function () {
            var forms  = $("#form-data")

            $("#form-data").reset;
            $('.myModal,.shade').addClass('hide');

            var temp = new FormData(forms)
            if (temp.get("id") == null || temp.get("id") == ""){
                add(forms)
            }else{
                update(forms)
            }
        });

        //编辑按钮
        $('input[value="编辑"]').click(function () {
            $('.hide').removeClass('hide');
            var tds = $(this).parent().prevAll();
            //jquery对象加上索引是dom对象
            $($('.myModel input')[0]).val($(tds[1]).text());
            $($('.myModel textarea')).val($(tds[0]).text());
        });
        //删除按钮
        $('input[value="删除"]').click(function () {
        });
    })


    function deleteById(id) {
        $.ajax({
            url: '/student/deleteById',
            type: 'DELETE',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    getDepartmentList();
                }
            }
        });
    }

    function add(formData) {
        $.ajax({
            url: '/student/add',
            type: 'POST',
            data: formData.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    var departmentId = formData.find("p select[name=departmentId]").val();
                    var majorId = formData.find("p select[name=majorId]").val();
                    alert(departmentId +" "+ majorId)

                    findByMajorIdAndDepartmentId(departmentId, majorId);
                }
            }
        });
    }

    function update(formData) {
        $.ajax({
            url: '/student/update',
            type: 'POST',
            data: formData.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    var departmentId = formData.find("input[type=departmentId]").val();
                    var majorId = formData.find("input[type=majorId]").val();

                    findByMajorIdAndDepartmentId(departmentId, majorId);
                    alert(data.msg)
                }
            }
        });
    }



    function getAllDepartment() {
        $.ajax({
            url: '/department/list',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var dataList = $(".departmentSelect");
                dataList.html("");

                var head = "<option value = \"";
                var second = "\">";
                var end = "</option>";
                for (i = 0; i < data.data.length; i++) {
                    var str = head + data.data[i].id + second + data.data[i].department + end;
                    dataList.append(str)
                }
                findMajorByDepartmentId(data.data[0].id, 3)
            }
        });
    }

    function findMajorByDepartmentId(departmentId, index) {
        $.ajax({
            url: '/major/findByDepartmentId',
            type: 'GET',
            data: {
                departmentId: departmentId
            },
            dataType: 'json',
            success: function (data) {
                var dataList;
                if (index = 3){
                    dataList = $(".majorSelect");
                    dataList.html("");
                } else{
                    dataList = $($(".majorSelect")[index]);
                    dataList.html("");
                }

                var head = "<option value = \"";
                var second = "\">";
                var end = "</option>";

                for (i = 0; i < data.data.length; i++) {
                    var str = head + data.data[i].id + second + data.data[i].major + end;
                    dataList.append(str)
                }
            }
        });
    }

    function findByMajorIdAndDepartmentId(departmentId, majorId) {
        $.ajax({
            url: '/student/findByMajorIdAndDepartmentId',
            type: 'GET',
            data: {
                majorId: majorId,
                departmentId: departmentId
            },
            dataType: 'json',
            success: function (data) {
                var dataList = $("#dataList");
                dataList.html("");

                var head = "<tr><td>";
                var second = "</td><td style=\"display: none\">";
                var rep = "</td><td>";
                var end = "</td><td><input type=\"button\" value=\"编辑\"><input type=\"button\" value=\"删除\"></td></tr>";

                for (i = 0; i < data.data.length; i++) {
                    var str = head + (i+1) + second + data.data[i].id
                        + rep + data.data[i].no
                        + rep + data.data[i].name
                        + rep + data.data[i].departmentModel.name
                        + rep + data.data[i].majorModel.name;
                    dataList.append(str)
                }
            }
        });
    }
</script>

</body>
</html>