<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>学生信息管理</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin-info-system.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/swiper.min.css}" >

    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper.jquery.min.js}"></script>
</head>
<body>
	<div class="body">
		<div class="search">
			<form>
				<label>类型：</label>
				<select>
					<option>123</option>
					<option>123</option>
					<option>123</option>
					<option>123</option>
				</select>

				<label>自：</label>
				<input type="date" name="">

				<label>到：</label>
				<input type="date" name="">
				<input type="submit" name="" value="search">
			</form>	
		</div>
		<div class="data">
			<table>
				<thead>
					<tr>
						<th width="50px">编号</th>
						<th width="130px">类型</th>
						<th width="130px">来源</th>
						<th width="130px">操作人</th>
						<th width="130px">时间</th>
						<th width="150px"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					</tr>
					<tr>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>	
	</div>
</body>
</html>