<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息管理</title>

    <link rel="stylesheet" type="text/css" href="../css/student/student-projection.css">
    <link rel="stylesheet" type="text/css" href="../css/admin/admin-motaikuang.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
</head>
<body>
<div class="body">
    <!-- 模态框开始 -->
    <div class="myModal hide">
        <p class="p" style="display: none">id：<input type="text" name="id"></p>
        <p class="p"><label style="width: 50px">标题：</label><input type="text" name="title" store="" disabled></p>
        <p class="p"><label style="width: 50px">内容描述：</label><textarea name="introduce" disabled></textarea></p>
        <p class="p"><label style="width: 50px">要求：</label><textarea name="require" disabled></textarea></p>
        <p class="p"><label style="width: 50px">指导教师：</label><input type="text" name="teacher" store="" disabled></p>
        <p class="p"><input type="button" value="返回">&nbsp<input type="button" value="选择"></p>
    </div>
    <div class="shade hide"></div>
    <!-- 模态框结束 -->

    <div class="search">
        <label>指导老师: </label>
        <select class="teacherSelect">

        </select>
        <label>课题标题：</label><input type="text" name="title">
        <input type="button" name="" value="搜索">
        <span>        </span>
        <input type="button" value="刷新">

        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="button" value="已选课题">
    </div>
    <div class="data">
        <table>
            <thead>
            <tr>
                <th width="50px">编号</th>
                <th width="130px">标题</th>
                <th width="130px">内容描述</th>
                <th width="130px">要求</th>
                <th width="130px">指导教师</th>
                <th width="130px"></th>
            </tr>
            </thead>
            <tbody id="dataList">

            </tbody>
        </table>
    </div>
</div>

<!-- jq代码 -->
<script>
    $(document).ready(function () {
        var searchInfo = {
            teacherId: null,
            title: null,
            page: 0,
            size: 15
        }
        var teachers = listTeacher();
        var projections = listProjection(searchInfo, 0)

        //刷新按钮 添加ajax
        $('input[value="刷新"]').click(function () {
            listProjection(searchInfo, 0)
        })
        $('input[value="已选课题"]').click(function () {
            searchInfo.teacherId = null;
            searchInfo.title = null;
            listProjection(searchInfo, 1)
        })

        //搜索按钮 添加ajax
        $('input[value="搜索"]').click(function () {
            var teacherId = $(".search .teacherSelect").val();
            var title = $(".search input[name=title]").val();

            searchInfo.teacherId = teacherId;
            searchInfo.title =title;
            searchInfo.page =0;

            listProjection(searchInfo, 0)
        })

        //模态框确定选择按钮 添加ajax
        $('.myModal input[value="选择"]').click(function () {
            var tds = $(this).parent().prevAll();
            var projectionId = $(tds[4]).attr("store")
            var teacherId = $('.myModal input[name="teacher"]').attr("store")

            //界面处理
            $('.myModal,.shade').addClass('hide');
            add(projectionId, teacherId, 0)
        })

        //取消模态框
        $('input[value="返回"]').click(function () {
            $('.myModal input[name="id"]').val("");
            $('.myModal input[name="title"]').val("");
            $('.myModal textarea').val("");

            $('.myModal,.shade').addClass('hide');
        })

        //详情按钮 显示模态框
        $(".data").on("click", "input[value='详情']", function () {
            var tds = $(this).parent().prevAll();
            //jquery对象加上索引是dom对象
            var id = $(tds[4]).attr("store")
            findById(id)
        })

        //确定按钮 添加ajax
        $("#dataList ").on("click", 'input[value="选择"]', function () {
            var tds = $(this).parent().prevAll();
            var projectionId = $(tds[4]).attr("store")
            var teacherId = $(tds[0]).attr("store")
            //信息获取
            add(projectionId, teacherId, 0)
            listProjection(searchInfo, 0)

        })

        //首页按钮
        $(".data").on("click", ".firstPage", function () {
            searchInfo.page = 0;
            listProjection(searchInfo, 0)
        })
        //上翻页按钮
        $(".data").on("click", ".pageUp", function () {
            if (searchInfo.page > 0) {
                searchInfo.page = searchInfo.page - 1;
            }
            listProjection(searchInfo, 0)
        })

        //下翻页按钮
        $(".data").on("click", ".pageDown", function () {
            searchInfo.page =searchInfo.page +1;

            listProjection(searchInfo, 0)
        })
        //尾页按钮
        $(".data").on("click", ".lastPage", function () {
            searchInfo.page = $(this).attr("id") -1;

            listProjection(searchInfo, 0)
        })
    });

    function add(projectionId, teacherId) {
        $.ajax({
            url: '../student/selectRecord/add',
            type: 'POST',
            data: {
                projectionId: projectionId,
                teacherId: teacherId
            },
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    alert(data.msg)
                }
            }
        });
    }

    function findById(id) {
        $.ajax({
            url: '../student/projection/findById',
            type: 'GET',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    $('.myModal input[name="title"]').val(data.data.title)
                    $('.myModal textarea[name= "introduce"]').val(data.data.introduce);
                    $('.myModal textarea[name="require"]').val(data.data.demand);
                    $('.myModal input[name="teacher"]').val(data.data.teacherModel.name);
                    $('.myModal input[name="teacher"]').attr("store", data.data.teacherModel.id);
                    $('.hide').removeClass('hide');
                }
            }
        });
    }

    function listTeacher() {
        $.ajax({
            url: '../student/teacher/listTeacher',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var dataList = $(".teacherSelect");
                dataList.html("");

                dataList.append("<option selected></option>")
                for (i = 0; i < data.data.length; i++) {
                    var str = "<option value=\"" + data.data[i].id + "\">" + data.data[i].name + "</option>"
                    dataList.append(str)
                }
            }
        });
    }

    function listProjection(searchInfo, status) {
        $.ajax({
            url: '../student/projection/listProjectionToStudent',
            type: 'GET',
            data: {
                title: searchInfo.title,
                teacherId: searchInfo.teacherId,
                status: status,
                page:searchInfo.page,
                size:searchInfo.size
            },
            dataType: 'json',
            success: function (data) {
                var dataList = $("#dataList");
                dataList.html("");
                if (status == 1) {
                    for (i = 0; i < data.data.length; i++) {
                        var str = "<tr><td store=\"" + data.data[i].id + "\">" + (i + 1)
                            + "</td> <td>" + data.data[i].title + "</td> "

                        if (data.data[i].introduce.length > 10) {
                            str = str + "<td>" + data.data[i].introduce.substr(0, 10) + "....</td>"
                        } else {
                            str = str + "<td>" + data.data[i].introduce + "</td>"
                        }
                        if (data.data[i].demand.length > 10) {
                            str = str + "<td>" + data.data[i].demand.substr(0, 10) + "....</td>"
                        } else {
                            str = str + "<td>" + data.data[i].demand + "</td>"
                        }

                        str = str + "<td store = \"" + data.data[i].teacherModel.id + "\">" + data.data[i].teacherModel.name + "</td>"

                        if (data.data[i].selectRecordModel.auditStatus == 0) {
                            str = str + "<td>请求未处理</td>"

                        } else if (data.data[i].selectRecordModel.auditStatus == 1) {
                            str = str + "<td style='color: #EE5C42'>已接收</td>"

                        } else if (data.data[i].selectRecordModel.auditStatus == 2) {
                            str = str + "<td  style='color: red'>拒绝</td>"
                        }

                        dataList.append(str)
                    }
                } else if (status == 0) {
                    for (i = 0; i < data.data.length; i++) {
                        var str = "<tr><td store=\"" + data.data[i].id + "\">" + (data.page * data.size +i+1)
                            + "</td> <td>" + data.data[i].title + "</td> "

                        if (data.data[i].introduce.length > 10) {
                            str = str + "<td>" + data.data[i].introduce.substr(0, 10) + "....</td>"
                        } else {
                            str = str + "<td>" + data.data[i].introduce + "</td>"
                        }
                        if (data.data[i].demand.length > 10) {
                            str = str + "<td>" + data.data[i].demand.substr(0, 10) + "....</td>"
                        } else {
                            str = str + "<td>" + data.data[i].demand + "</td>"
                        }
                        str = str + "<td store = \"" + data.data[i].teacherModel.id + "\">" + data.data[i].teacherModel.name + "</td>"
                            + "<td><input type=\"button\" name=\"\" value=\"详情\"><input type=\"button\" value=\"选择\"></td>"
                        dataList.append(str)
                    }

                    var str = "<tr><td colspan='6' style='padding-top:15px;text-align: center; background-color: white'>"
                    if (data.pageUp){
                        str = str  +"<a class='firstPage' style='padding-right: 5px'>首页</a><a class='pageUp' style='padding-right: 5px'>上一页</a>"
                    }
                    if (data.data.length > 0) {
                        str = str + (data.page + 1) + "/" + data.totalPage;
                    }
                    if (data.pageDown){
                        str = str  +"<a class='pageDown' style='padding-left: 5px' >下一页</a><a class='lastPage' style='padding-left: 5px'id='"+data.totalPage+"'>尾页</a>"
                    }
                    var end = "</td></tr>"
                    dataList.append(str +end)
                }
            }
        });
    }

</script>
</body>
</html>