<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学生信息管理</title>

    <link rel="stylesheet" type="text/css" href="/css/helper-info-student.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/swiper.jquery.min.js"></script>
</head>
<body>
	<div class="body">
		<div class="taskBook">
			<h3>任务书提交：</h3>
			<form id="taskBook">
				<label>文件： </label><input type="file", name="file" style="display: inline-block">
				<input type="button" value="提交">
			</form>
			<input type="button" value="查看历史提交记录">
		</div>
		<br><br>

		<div class="these">
			<h3>论文提交：</h3>
			<form id="these">
				<label>文件： </label><input type="file", name="file" style="display: inline-block">
				<input type="button" value="提交">
			</form>
		</div>
	</div>
</body>
</html>