<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生信息管理</title>

    <link rel="stylesheet" type="text/css" href="\css\student\projectionInfoSubmit.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/swiper.jquery.min.js"></script>
</head>
<body>
<div class="body">
    <fieldset>
        <legend>任务书提交：</legend>
        <form id="taskBook">
            <label>文件： </label><input type="file" , name="file" style="display: inline-block">
            <input type="button" value="提交">
        </form>
        <br>
        <input type="button" value="查看历史提交记录" width="">
    </fieldset>

    <br><br><br>

    <fieldset>
        <legend>论文提交：</legend>
        <form id="these">
            <label>文件： </label><input type="file" , name="file" style="display: inline-block">
            <input type="button" value="提交">
        </form>
        <br>
        <input type="button" value="查看历史提交记录">
    </fieldset>
</div>

<script th:if="${flag !=false}">
    $(document).ready(function () {
        $('#taskBook input[value="提交"]').click(function () {
            var formData = $("#taskBook")

            submitTaskBook(formData)

        })
        $('#these input[value="提交"]').click(function () {
            var formData = $("#these")
            submitThese(formData)

        })
    })
    function submitTaskBook(formData) {
        $.ajax({
            url: '/taskBook/add',
            type: 'POST',
            data:formData.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    alert(data.msg)
                }
            }
        });
    }

    function submitThese(formData) {
        $.ajax({
            url: '/theses/add',
            type: 'POST',
            data:formData.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.code == -1) {
                    alert(data.msg)
                } else {
                    alert(data.msg)
                }
            }
        });
    }
</script>


<script th:if="${flag}">
    $(document).ready(function () {
        $("body").html("")
        $("body").html("<h3 style='margin-left: 30px; margin-top: 20px'>请先完成选题！</h3>")
    })
</script>
</body>
</html>