<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学生信息管理</title>

    <link rel="stylesheet" type="text/css" href="../../../css/admin-info-student.css">
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../css/swiper.min.css">

    <script type="text/javascript" src="../../../js/jquery.js"></script>
    <script type="text/javascript" src="../../../js/bootstrap.js"></script>
    <script type="text/javascript" src="../../../js/swiper.jquery.min.js"></script>
</head>
<body>
	<div class="body">
		<div class="search">
			<form>
				<label>专业：</label>
				<select>
					<option>123</option>
					<option>123</option>
					<option>123</option>
					<option>123</option>
				</select>
				<br>
				<input type="text" name="" placeholder="指导教师">
				<input type="submit" name="" value="search">
			</form>	
		</div>
		<div class="data">
			<table>
				<thead>
					<tr>
						<th width="50px">编号</th>
						<th width="130px">学号</th>
						<th width="130px">标题</th>
						<th width="130px">要求</th>
						<th width="130px">指导教师</th>
						<th width="130px"></th>
						<th width="150px"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td><input type="button" name="" value="详情"></td>
						<td><input type="checkbox" name="peojection"></td>
					</tr>
					<tr>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td><input type="button" name="" value="详情"></td>
						<td><input type="checkbox" name="peojection"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>	
	</div>
</body>
</html>