<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教师信息管理</title>

    <link rel="stylesheet" type="text/css" href="../css/admin-info-teacher.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
</head>
<body>
<div class="body">
    <div class="studentInfo">
        <h4>基本信息</h4>
        <table>
            <tr>
                <td width="85px">学号：</td>
                <td th:text="${scoreAllInfo.student.no}"></td>
                <td>姓名：</td>
                <td th:text="${scoreAllInfo.student.name}"></td>
            </tr>
            <tr>
                <td>系别：</td>
                <td th:text="${scoreAllInfo.student.departmentModel.department}"></td>
                <td>专业：</td>
                <td th:text="${scoreAllInfo.student.majorModel.major}"></td>
            </tr>
        </table>
    </div>

    <div class="OrdinaryInfo" th:if="${scoreAllInfo.scoreRecordListOfOrdinary != null}">
        <h4>指导教师评分</h4>
        <table>
            <tr th:each="score,scoreStatus: ${scoreAllInfo.scoreRecordListOfOrdinary}">
                <td th:text="${scoreStatus.count}"></td>
                <td  style="display: none" th:text="${score.id}" class="ids"></td>
                <td th:text="${score.scoreItemModel.itemName}"></td>
                <td th:text="${score.scoreItemModel.scoreRate}"></td>
                <td><input type="text" th:value="${score.scoreNum}" class="nums"></td>
            </tr>
        </table>
    </div>

    <div class="ReviewInfo" th:if="${scoreAllInfo.scoreRecordListOfReview != null}">
        <h4>评阅教师评分</h4>
        <table>
            <tr th:each="score,scoreStatus: ${scoreAllInfo.scoreRecordListOfReview}">
                <td th:text="${scoreStatus.count}"></td>
                <td  style="display: none" th:text="${score.id}" class="ids"></td>
                <td th:text="${score.scoreItemModel.itemName}"></td>
                <td th:text="${score.scoreItemModel.scoreRate}"></td>
                <td><input type="text" th:value="${score.scoreNum}" class="nums"></td>
            </tr>
        </table>
    </div>

    <div class="ResponseInfo" th:if="${scoreAllInfo.scoreRecordListOfResponse != null}">
        <h4>答辩教师评分</h4>
        <table>
            <tr th:each="score,scoreStatus: ${scoreAllInfo.scoreRecordListOfResponse }">
                <td th:text="${scoreStatus.count}"></td>
                <td  style="display: none" th:text="${score.id}" class="ids"></td>
                <td th:text="${score.scoreItemModel.itemName}"></td>
                <td th:text="${score.scoreItemModel.scoreRate}"></td>
                <td><input type="text" th:value="${score.scoreNum}" class="nums"></td>
            </tr>
        </table>
    </div>

    <div class="ResponseInfo" style="border-top: #080808 solid 2px">
        <h4>总成绩</h4>
        <table>
            <tr>
                <td>总分：</td>
                <td th:text="${scoreAllInfo.totalScore.totalScorenNum}"></td>
                <td>评定等级：</td>
                <td th:text="${scoreAllInfo.totalScore.level}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>